<div class="row" data-target-village-book>
    <input name="parameter[{{ key ? key : '0' }}]" type="hidden" class="form-control" value="{{ villageBook.parameter }}">
    <div class="col-xs-5">
        <div class="form-group">
            <label for="" class="is-required">Buku</label>
            <select name="book[{{ key ? key : '0' }}]" class="form-control" required>
                <option value="">-- Pilih Buku --</option>
                {% for book in books %}
                <option {{ villageBook.book_id == book.id ? 'selected' : '' }} value="{{ book.id }}">{{ book.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-xs-5">
        <div class="form-group">
            <label for="" class="is-required">Kuantitas</label>
            <input name="qty[{{ key ? key : '0' }}]" type="text" class="form-control" value="{{ villageBook.qty }}" required>
        </div>
    </div>

    <div class="col-xs-2">
        <div class="form-group">
            {% if key or villageBook.parameter%}
                <button class="btn btn-block btn-danger" style="margin-top: 25px" type="button" data-remove-book data-parameter="{{ villageBook.parameter }}">
                    <i class="fa fa-trash"></i>
                </button>
            {% endif %}
        </div>
    </div>
</div>
