<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Gambar Utama
                </div>
            </div>

            <div class="panel-body">
                {% component 'imageUploader' %}
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Galeri
                </div>
            </div>

            <div class="panel-body">
                {% component 'galleriesUploader' %}
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Informasi General
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label>Nama</label>
                    <input class="form-control" type="text" name="name" value="{{ village.name }}">
                </div>

                <div class="form-group">
                    <label>Lokasi</label>
                    <select class="form-control" name="location">
                        <option value="">-- Pilih Lokasi --</option>
                        {% for chapter in chapters %}
                        <option {{ village.region_id == chapter.id ? 'selected' : '' }} value="{{ chapter.id }}">{{ chapter.name|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="margin-bottom:0px">
                        <div class="form-group">
                            <label>Latitude</label>
                            <input type="text" class="form-control" name="latitude" value="{{ village.latitude }}">
                        </div>
                    </div>

                    <div class="col-sm-6" style="margin-bottom:0px">
                        <div class="form-group">
                            <label>Longitude</label>
                            <input type="text" class="form-control" name="longitude" value="{{ village.longitude }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Konten
                </div>
            </div>

            <div class="panel-body pd-0">
                <textarea id="editor1" class="form-control" name="content">{{ village.content }}</textarea>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
    </div>
</div>
