<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <label class="is-required">Icon</label>
                {% component 'iconUploader' %}
            </div>

            <div class="col-xs-6">
                <label class="is-required">Cover</label>
                {% component 'coverUploader' %}
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">General Information</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Nama</label>
                    <input class="form-control" type="text" name="name" value="{{ program.name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Konten</label>
                    <textarea id="editor1" class="form-control" name="content">{{ program.content|raw }}</textarea>
                </div>
            </div>

            <div class="col-sm-12">
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
            </div>
        </div>
    </div>
</div>
