title = "Desa"
url = "/village/view/:parameter"
layout = "default"
is_hidden = 0

[BaseVillageDetail]
parameter="{{ :parameter }}"
==
use Isbanban\Village\Models\Village;

function onStart() {
    $village                 = Village::whereSlug($this->param('parameter'))->first();
    $this->page->title       = ucwords($village->name);
    $this->page->description = str_limit(strip_tags($village->content), 255, '...');
    $this->page->image       = $village->cover ? $village->cover->getPath() : '';
}
==
<div class="container">
    <div class="container-flux flux-bottom pd-t-0">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="position: static">
                <div class="sticky-parent-wrapper">
                    <div class="sticky-parent">
                        <img src="{{ village.cover.getPath() }}" alt="" class="img-responsive img-full" data-action="zoom">
                        <h1>{{ village.name }}</h1>

                        <hr>

                        <div class="row">
                            <div class="col-sm-9">
                                <div class="text-content">
                                    {{ village.content|raw }}
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="sticky-child bg-primary text-white pd-20">
                                    <ul class="fa-ul list-village-info">
                                        <li><i class="fa fa-li fa-globe"></i> {{ village.latitude }}, {{ village.longitude }}</li>
                                        <li><i class="fa fa-li fa-group"></i> {{ volunteers.total() }} Relawan disini</li>
                                        <li><a target="_blank" href="http://maps.google.com/maps?z=12&t=m&q=loc:{{ village.latitude}}+{{ village.longitude}}"><i class="fa fa-li fa-map-marker"></i> Direct Me</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map"></div>

<div class="container">
    <div class="container-flux flux-top">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="page-header">
                    <div class="h3">Kakak Relawan</div>
                </div>

                <div class="row infinite-container">
                    {% for volunteer in volunteers %}
                        {% if volunteer.avatar %}
                        <div class="col-md-2 col-sm-4 pd-0 infinite-post">
                            <img src="{{ volunteer.avatar.getThumb('300', '300', 'crop') }}" alt="Avatar {{ volunteer.name }}" class="img-responsive img-full">
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

                {#
                <div class="row infinite-container">
                    @foreach($volunteers as $volunteer)
                    <div class="col-md-2 col-sm-4 pd-0 infinite-post">
                    @if($volunteer->path_photo)
                        <img src="{{ URL::to('/images/volunteer/').'/'.$volunteer->path_photo }}" alt="" class="img-responsive img-full" data-toggle="tooltip" data-placement="top" data-title="{{ $volunteer->name }}" style="cursor:pointer">
                    @else
                        @if($volunteer->gender == 'laki-laki')
                            <img src="{{ asset('assets/image/placeholder-volunteer-m.png') }}" alt="" class="img-responsive img-full" data-toggle="tooltip" data-placement="top" data-title="{{ $volunteer->name }}" style="cursor:pointer">
                        @else
                            <img src="{{ asset('assets/image/placeholder-volunteer-f.png') }}" alt="" class="img-responsive img-full" data-toggle="tooltip" data-placement="top" data-title="{{ $volunteer->name }}" style="cursor:pointer">
                        @endif
                    @endif
                    </div>
                    @endforeach
                </div>
                #}

                <div class="infinite-pagination">
                    <a href="{{ volunteers.nextPageUrl() }}">LOAD MORE</a>
                </div>

                <hr>

                <div class="text-center">
                    {% partial 'shareholic-horizontal' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% partial 'infinite-scroll' %}
{% put scripts %}
<script src="{{ '../../bower_components/sticky-kit/jquery.sticky-kit.min.js'|theme }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJgV2HnjR7mqWBA5wp1ev6K2ItJ1g-PT8"></script>
<script type="text/javascript">
function initialize() {

    var center = new google.maps.LatLng('{{ village.latitude }}', '{{ village.longitude}}');
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: center,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_BOTTOM
        },
        mapTypeControl: false,
        streetViewControl: false,
        scaleControl: false,
        scrollwheel: false,
        styles: [{"featureType":"all","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"all","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"all","elementType":"labels.text","stylers":[{"visibility":"simplified"}]}]
    });

    var marker = new google.maps.Marker({
        position: center,
        map: map,
        icon: '{{ 'assets/images/marker-default.png'|theme }}'
      });

    marker.setAnimation(google.maps.Animation.BOUNCE);
}
google.maps.event.addDomListener(window, 'load', initialize);

$(document).ready(function(){
    $(".sticky-child").stick_in_parent({
        parent: '.sticky-parent',
        offset_top: 100,
    })
    .on('sticky_kit:bottom', function(e) {
        $(this).parent().css('position', 'static');
    })
    .on('sticky_kit:unbottom', function(e) {
        $(this).parent().css('position', 'relative');
    });
});

$(document).on('change', function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endput %}
