<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Cover</div>
        </div>
    </div>

    <div class="panel-body">
        {% component 'pictureUploader' %}
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="form-group">
            <label>Publikasi</label>
            <select name="is_published" class="form-control">
                <option value="">-- Pilih --</option>
                <option value="1" {{ wanted.is_published == 1 ? 'selected' : '' }}>Ya</option>
                <option value="0" {{ wanted.is_published == 0 ? 'selected' : '' }}>Tidak</option>
            </select>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Informasi General</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Nama</label>
                    <input class="form-control" type="text" name="name" value="{{ wanted.name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Deskripsi</label>
                    <textarea name="description" cols="30" rows="10" class="form-control">{{ wanted.description }}</textarea>
                </div>
            </div>

            <div class="col-sm-12">
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
            </div>
        </div>
    </div>
</div>
