title = "Blog"
url = "/blog/read/:parameter"
layout = "default"
is_hidden = 0

[BaseBlogDetail]
parameter="{{ :parameter }}"
==
use Isbanban\Blog\Models\Blog;

function onStart() {
    $blog                    = Blog::whereSlug($this->param('parameter'))->first();
    $this->page->title       = ucwords($blog->title);
    $this->page->description = str_limit(strip_tags($blog->content), 255, '...');
    $this->page->image       = $blog->cover ? $blog->cover->getPath() : '';
}
==
<div class="container mg-t-40">
    <div class="post post-blog-detail">
        <div class="row">
            <div class="col-sm-12 col-md-9 mg-b-40">
                <div class="sticky-parent" style="position: static;">
                    <div class="blog-head">
                        <div class="blog-thumbnail">
                            <img src="{{ blog.cover.getPath() }}" alt="" class="img-responsive" data-action="zoom">
                        </div>

                        <div class="blog-title">
                            <h1>{{ blog.title }}</h1>
                        </div>

                        <div class="blog-meta">
                            <small class="text-muted"><i class="fa fa-calendar-o fa-fw"></i> {{ blog.created_at|format('d F Y') }} // <i class="fa fa-user fa-fw"></i> by Administrator</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2 visible hidden-xs">
                            <div class="sticky-shareholic">
                            {% partial 'shareholic-vertical' %}
                            </div>
                        </div>

                        <div class="col-sm-10">
                            <div class="text-content mg-t-20">
                                {{ blog.content|raw }}
                            </div>

                            <hr>
                            <div class="text-center visible-xs hidden">
                                {% partial 'shareholic-horizontal' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="row">
                    {% for random in randomBlog %}
                    <div class="col-sm-6 col-md-12">
                        {% partial 'blog/posts-horizontal' blog=random %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script src="{{ '../../bower_components/sticky-kit/jquery.sticky-kit.min.js'|theme }}"></script>
<script>
$(document).ready(function(){
    $(".sticky-shareholic").stick_in_parent({
        parent: '.sticky-parent',
        offset_top: 92,
    })
    .on('sticky_kit:bottom', function(e) {
        $(this).parent().css('position', 'static');
    })
    .on('sticky_kit:unbottom', function(e) {
        $(this).parent().css('position', 'relative');
    });
});
</script>
{% endput %}
