title = "Blog"
url = "/blog"
layout = "default"
is_hidden = 0

[BaseBlog]
==
{% partial 'block-banner-batik' title='Berita' background='assets/images/pattern-batik.jpg'|theme %}
<div class="container mg-t-40">
    <div class="infinite-container">
        <div class="row row-flex">
            {% for key, blog in blogs %}
                {% set key = key + 1 %}
                <div class="col-sm-6 infinite-post">
                    {% partial 'blog/posts' blog=blog %}
                </div>

                {% if key%2 == 0 %}
                </div><div class="row row-flex">
                {% endif %}
            {% endfor %}
            <div class="col-xs-12 infinite-post"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            {% if blogs.previousPageUrl() %}
            <a href="{{ blogs.previousPageUrl() }}"><i class="fa fa-arrow-left"></i> Sebelumnya</a>
            {% endif %}
        </div>
        <div class="col-xs-6 text-right">
            {% if blogs.nextPageUrl() %}
            <a href="{{ blogs.nextPageUrl() }}">Selanjutnya <i class="fa fa-arrow-right"></i></a>
            {% endif %}
        </div>
        {#
        <div class="col-sm-12">
            <div class="text-center">
                <div class="infinite-pagination">
                    <a href="{{ blogs.nextPageUrl() }}">LOAD MORE</a>
                </div>
            </div>
        </div>
        #}
    </div>
</div>
{# {% partial 'infinite-scroll' %} #}
