<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Picture</div>
        </div>
    </div>

    <div class="panel-body">
        {% component 'imageUploader' %}
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">General Information</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Nama</label>
                    <input class="form-control" type="text" name="name" value="{{ children.name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Gender</label>
                    <select name="gender" class="form-control">
                        <option value="">-- Pilih --</option>
                        <option value="M" {{ children.gender == 'M' ? 'selected' : '' }}>Male</option>
                        <option value="F" {{ children.gender == 'F' ? 'selected' : '' }}>Female</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Agama</label>
                    <select name="religion" class="form-control">
                        <option>-- Pilih --</option>
                        <option {{ children.religion == 'islam' ? 'selected' : '' }} value="islam">Islam</option>
                        <option {{ children.religion == 'protestan' ? 'selected' : '' }} value="protestan">Protestan</option>
                        <option {{ children.religion == 'katholik' ? 'selected' : '' }} value="katholik">Katholik</option>
                        <option {{ children.religion == 'hindu' ? 'selected' : '' }} value="hindu">Hindu</option>
                        <option {{ children.religion == 'budha' ? 'selected' : '' }} value="budha">Budha</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Date of Birth <small class="text-muted">(yyyy-mm-dd)</small></label>
                    <input class="form-control" type="text" name="dob" value="{{ children.dob }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Grade</label>
                    <select name="grade" class="form-control">
                        <option value="">-- Pilih --</option>
                        {% for i in 1..12 %}
                        <option value="{{ i }}" {{ children.grade == i ? 'selected' : '' }}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Address</label>
                    <textarea name="address" cols="30" rows="10" class="form-control">{{ children.address }}</textarea>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Daddys Name</label>
                    <input type="text" class="form-control" name="dad" value="{{ children.dad }}">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Dad Job</label>
                    <input type="text" class="form-control" name="dad_job" value="{{ children.dad_job }}">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Mommys Name</label>
                    <input type="text" class="form-control" name="mom" value="{{ children.mom }}">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Mom Job</label>
                    <input type="text" class="form-control" name="mom_job" value="{{ children.mom_job }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Daddy Salary</label>
                    <input type="text" class="form-control" name="dad_salary" value="{{ children.dad_salary }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Stepbrother</label>
                    <input type="text" class="form-control" name="stepbrother" value="{{ children.stepbrother }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Brothers</label>
                    <input type="text" class="form-control" name="brother_total" value="{{ children.brother_total }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Dream</label>
                    <input type="text" class="form-control" name="dream" value="{{ children.dream }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Hoby</label>
                    <input type="text" class="form-control" name="hoby" value="{{ children.hoby }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Expertise</label>
                    <input type="text" class="form-control" name="expertise" value="{{ children.expertise }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Village</label>
                    <select name="village_id" class="form-control">
                        <option value="">-- Pilih --</option>
                        {% for region in regions %}
                        <option value="{{ region.id }}" {{ children.village_id == region.id  ? 'selected' : '' }}>{{ region.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-sm-12">
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
            </div>
        </div>
    </div>
</div>
