.block-payment {
	position: relative;
	border: 1px solid #ddd;
	cursor: pointer;
	.pd-20();
	.text-center();

	&.is-active {
		box-shadow: 0 0 10px 0 fade(@brand-primary, 75%);
	}

	img {
		height: 40px;
		margin: 0px auto;
		.mg-b-10();
	}

	i {
		position: absolute;
		right: 20px;
		top: 10px;
		color: @brand-primary;
		font-size: 21px;
	}
}

.block-summary-info {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	.pd-t-20();
	.pd-b-20();
	.mg-b-20();
	.text-center();
}

.block-program {
	position: relative;
	background-size: cover !important;
	.pd-t-40();
	.pd-b-40();

	&:before {
		content: "";
		position: absolute;
		width: 100%; height: 100%;
		top: 0; left: 0;
		// .gradient-horizontal(#000, fade(#000, 75%));
		// .gradient-horizontal(fade(@brand-secondary, 25%), fade(@brand-primary, 25%));
		.gradient-horizontal(@brand-secondary, fade(@brand-primary, 75%));
	}
}

.block-banner-batik {
	.block-preview();
    background-repeat: repeat !important;
    background-size: inherit !important;
    background-attachment: fixed;

	.container {
		position: relative;
		padding-top: 150px;
		color: #fff;
		z-index: 2;

		h1 {
			font-size: 48px;
		}

		p {
			font-size: 21px;
		}
	}
}

.block-preview {
	position: relative;
	background-color: #fafafa;
	background-position: center center;
	background-size: cover !important;

	&:before {
		content: "";
		position: absolute;
		width: 100%; height: 100%;
		top: 0; left: 0;
		// .gradient-horizontal(transparent, fade(#000, 75%));
		.gradient-horizontal(fade(@brand-secondary, 25%), fade(@brand-primary, 25%));
	}
}

.block-banner-primary {
	.block-preview();
	background-position: top center;
    background-attachment: fixed;

	.container {
		position: relative;
		color: #fff;
		padding-top: 100px;
		padding-bottom: 100px;

		@media(min-width: @screen-tablet) {
			padding-bottom: 250px;
			padding-top: 250px;
		}
	}

	p {
		font-weight: 300
	}
}

.block-banner-testimoni {
	.block-preview();
}

.block-testimoni-head {
	color: #fff;
	.text-center();
	.mg-b-40();

	@media(min-width: @screen-tablet) {
		.text-left();
		.mg-b-0();
	}
}

.block-important-points {
	height: 200px;
	position: relative;
	.pd-20();

	i {
		position: absolute;
		right: 0px;
		font-size: 74px;
		bottom: 0px;
	}

	.btn {
		position: absolute;
		bottom: 20px;
		width: 120px;
	}

	&.points-donation {
		background: @brand-primary;
		color: #fff;

		.btn {
			color: @brand-primary;
		}
	}

	&.points-volunteer {
		background: @brand-secondary;
		color: #fff;

		.btn {
			color: @brand-secondary;
		}
	}

	&.points-gift {
		background: #fafafa;
		color: #000;

		.btn {
			background: #000;
			color: #fafafa;
		}
	}
}

.block-introduce {
	position: relative;
	background-size: cover !important;
	background-repeat: no-repeat;
    display: flex;
    align-items: center;
    .pd-0();

	&:before {
		content: "";
		position: absolute;
		width: 100%; height: 100%;
		top: 0; left: 0;
		background: fade(#000, 75%);
	}

	.introduce-body {
		background: fade(#000, 35%);
		color: #fff;
		position: relative;
		top: 0px;
		.pd-20();

		// @media(min-width: @screen-tablet) {
		// 	position: absolute;
		// 	left: 0px; top: 50%;
		// 	margin-top: -218px;
		// 	.pd-40();
		// }

		// @media(min-width: @screen-desktop) {
		// 	margin-top: -148;
		// }
	}
}

.block-banner-testimoni {
	padding-top: 100px;
	padding-bottom: 100px;
}
