.btn {
	border-radius: 0px;
}

.btn-donate {
	z-index: 10;
	position: fixed;
	width: 100%;
	left: 0px;
	.transition(.35s all ease);

	&.is-hide {
		bottom: -100px;
	}

	&.is-show {
		bottom: 0px;
	}
}

.btn-white {
	.button-variant(transparent; #fff; transparent);
}

.btn-outline-white {
    .button-variant(#fff; transparent; #fff);

    &:hover,
    &:focus {
        .button-variant(#fff; transparent; #fff);
    }
}

.btn-black {
	.button-variant(#000; #fff; transparent);
}
