.dropdown-main-menu {
	&.open {
		> a {
			background: @brand-primary !important;
			color: #fff !important;
		}
	}

	> a {
		background: @brand-primary !important;
		color: #fff !important;
		padding: 35px !important;
	}

	&:hover,
	&:focus {
		> a {
			background: @brand-primary !important;
			color: #fff !important;
			padding: 35px !important;		
		}
	}
}

.dropdown-menu-primary {
	padding-top: 40px;
	padding-bottom: 120px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 0px;
	position: absolute;
	overflow: scroll;
	right: 0px !important;
	width: 300px;
	height: 100vh;
	top: 90px;

	.dropdown-menu-head {
		a {
			color: fade(#000, 40%);
		}

		&:hover,
		&:focus {
			a {
				color: fade(#000, 40%);
			}
		}
	}

	li {
		&:hover,
		&:focus {
			a {
				background: none;
				text-decoration: none;
			}
		}
	}
}