footer {
	.mg-t-40();

	hr {
		.mg-t-0();
		.mg-b-40();
	}

	.pd-t-40();
	.pd-b-40();
	color: #fff;
	background: #1b1b1b;
}

.prefooter-navigation {
	.pd-0();
	.mg-0();
	.mg-b-40();
	list-style: none;

	@media(min-width: @screen-desktop) {
		.mg-b-0();
	}

	li {
		position: relative;
		margin-bottom: 5px;
		.text-uppercase();

		a {
			display: block;
			// color: fade(#fff, 50%);
			color: #fff;
		}

		&:first-child {
			a {
				color: #fff;
                font-weight: bold;
			}
		}

		&:hover,
		&:focus {
			a {
				text-decoration: none;
			}
		}
	}
}

.postfooter {
	.mg-t-10();

	@media(min-width: @screen-desktop) {
		.mg-t-40();
	}
}

.postfooter-social  {
    .mg-b-10();

	a {
		color: #fff;

		.fa-inverse {
			color: #1b1b1b;
		}

		&:hover,
		&:focus {
			color: #fff;
			text-decoration: none;
		}
	}
}

.postfooter-logo {
	img {
		.mg-b-10();
		margin-left: auto;
		margin-right: auto;
	    height: 60px;

	    @media(min-width: @screen-desktop) {
	    	margin-left: auto;
	    	margin-right: auto;
	    }
	}
}

.postfooter-logo,
.postfooter-social {
	.text-center();
}
