.form-group {
	label {
		&.is-required {
			&:after {
				content: " *";
				color: @brand-danger;
			}
		}
	}
}

.form-control {
	border-radius: 0px;
	
	&:focus {
		border-color: darken(@brand-primary, 10%);
		@shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(@brand-primary, 20%);
		.box-shadow(@shadow);
	}
}