.navbar {
	.transition(.35 all ease)
}

.navbar-toggle {
	.mg-t-30();
}

.navbar-shadow {
	box-shadow: 0 0 10px 0 fade(#000, 35%);
}

.navbar-default {
	border-bottom: 0px;
	border-radius: 0px;

	a {
		font-weight: 700;
	}
}

.navbar-brand {
	height: 90px;
}

.navbar-left {
	margin-top: 20px;
	margin-left: 40px;
	.hidden();

	@media(min-width: @screen-tablet) {
		.show();
	}
}

.navbar-right {
	position: absolute;
	right: 0px;
	margin-right: 0px;
	.hidden();

	@media(min-width: @screen-tablet) {
		.show();
	}
}

.collapseable-menu {
	&.collapsed {
		.caret {
			.rotate(0deg);
		}
	}

	.caret {
		position: relative;
		top: 10px;
		.transition(.35s all ease);
		.rotate(-90deg);
	}
}

.menu-primary {
	list-style: none;
	.pd-0();
	.mg-b-40();

	&:last-child {
		.mg-b-0();
	}

	li {
		&.primary-head {
			a {
				color: #333;
                font-weight: bold;
			}

			&:hover,
			&:focus {
				a {
					color: #333;
				}
			}
		}

		a {
			color: #333;
            font-weight: 400;
		}

	}
}

.nav-about {
    background-color: #fafafa;
}
