.panel {
	box-shadow: 0 0 10px 0 fade(#000, 35);
	border-radius: 0px;
	border: none;
}

.panel-summary {
	box-shadow: none;
	border: 1px solid #ddd;
}

.panel-payment-method {
	cursor: pointer;

	.panel-body {
		img {
			height: 50px;
			margin: 0px auto;
		}
	}

	&.active {
		box-shadow: 0 0 10px 0 fade(@brand-primary, 35%);
	}
}