.post-donate {
	.donate-preview {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			.gradient-horizontal(fade(@brand-secondary, 55%), fade(@brand-primary, 55%));
		}

		.donate-thumbnail {
			background-size:cover !important;
			background-position: top left;
			height: 300px;

			@media(min-width: @screen-tablet) {
				height: 450px;
			}
		}

		.bottom-content {
			position: absolute;
			width: 100%;
			left: 0px; bottom: 0px;
			color: #fff;
			line-height: 1.5;
			.pd-40();
		}
	}
}

.post-featured-manager {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	.pd-t-20();
	.pd-b-20();
	.mg-b-40();
}

.post-program-head {
	color: fade(#fff, 80%);
}

.program-leading {
	.text-excerpt();
}

.tabs-program {
	li {
		border-radius: 0px;

		a {
			border-radius: 0px !important;
			border: 0px !important;
			background: #fafafa !important;
			color: #000 !important;
		}

		&.active {
			 a {
			 	background: transparent !important;
			 	color: #000 !important;
			 }
		}
	}
}

.post-blog-detail {
	.blog-head {
		border-bottom: 1px solid #ddd;
		.pd-b-20();
		.mg-b-20();
	}
}

.post-testimoni {
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 10px 0 fade(#000, 25%);
	.pd-10();
	.text-center();

	.testimoni-body {
		margin-top: 40px;
		padding-bottom: 100px;
	}

	.testimoni-footer {
		position: absolute;
		left: 0px;
		width: 100%;
		bottom: 10px;
	}

	i {
		font-size: 28px;
		.text-primary();
	}
}

.post-partners {
	img {
		width: 100%;
	}
}

.post-blog {
	// min-height: 400px;
	.mg-b-20();

	@media(min-width: @screen-tablet) {
		// min-height: 500px;
	}

	&.post-blog-horizontal {
		min-height: auto;
	}

	img {
		margin-bottom: 5px;
	}

	.blog-thumbnail {
		height: 250px;
		.mg-b-10();;

		@media(min-width: @screen-tablet) {
			height: 400px;
		}
	}

	.blog-title {
		margin-bottom: 5px;

		a {
			color: #000;
		}

		&:hover,
		&:focus {
			a {
				color: #000;
				text-decoration: none
			}
		}
	}

	.text-excerpt {
		margin-top: 5px;
	}
}
