.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;

	&:before {
	    top: 0;
	    bottom: 0;
	    position: absolute;
	    content: " ";
	    width: 3px;
	    background-color: #eeeeee;
	    left: 50%;
	    margin-left: -1.5px;
	}

	> li {
	    margin-bottom: 20px;
	    position: relative;
        width: 100%;
        background-color: #fff;

        @media(min-width: @screen-tablet) {
            background-color: transparent;
        }

	    &:before,
	    &:after {
	    	content: " ";
    		display: table;
	    }

	    &:after {
    		clear: both;
	    }

	    .timeline-panel {
            width: 100% !important;
	        float: left;
	        border: 1px solid #d4d4d4;
	        border-radius: 2px;
	        padding: 20px;
	        position: relative;
	        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);

            @media(min-width: @screen-tablet) {
                width: 46% !important;
            }

	        &:before {
	            position: absolute;
	            top: 26px;
	            right: -15px;
	            display: inline-block;
	            border-top: 15px solid transparent;
	            border-left: 15px solid #ccc;
	            border-right: 0 solid #ccc;
	            border-bottom: 15px solid transparent;
	            content: " ";
                display: none;

                @media(min-width: @screen-tablet) {
                    display: block;
                }
	        }

	        &:after {
	            position: absolute;
	            top: 27px;
	            right: -14px;
	            display: inline-block;
	            border-top: 14px solid transparent;
	            border-left: 14px solid #fff;
	            border-right: 0 solid #fff;
	            border-bottom: 14px solid transparent;
	            content: " ";
                display: none;

                @media(min-width: @screen-tablet) {
                    display: block;
                }
	        }
	    }

	    .timeline-badge {
	        color: #fff;
	        width: 50px;
	        height: 50px;
	        line-height: 50px;
	        font-size: 1.4em;
	        text-align: center;
	        position: absolute;
	        margin-left: -25px;
	        background-color: @brand-primary;
	        z-index: 100;
	        border-top-right-radius: 50%;
	        border-top-left-radius: 50%;
	        border-bottom-right-radius: 50%;
	        border-bottom-left-radius: 50%;
            top: -25px;
            left: 5px;
            display: none;

            @media(min-width: @screen-tablet) {
                top: 16px;
                left: 50%;
                display: block;
            }

	        .glyphicon {
				top: 12px;
				font-size: 25px !important;
	        }
	    }

	    &.timeline-inverted {
	    	.timeline-panel {
    			float: right;
	    	}

	    	.timeline-panel {
	    		&:before {
		            border-left-width: 0;
		            border-right-width: 15px;
		            left: -15px;
		            right: auto;
	    		}

	    		&:after {
		            border-left-width: 0;
		            border-right-width: 14px;
		            left: -14px;
		            right: auto;
	    		}
	    	}
	    }

	    &.timeline-init {
	    	margin-top: 100px;

			.timeline-panel {
				float: none !important;
				width: 100% !important;
				position: absolute !important;
				bottom: -40px;
				background: @brand-primary !important;
				color: #fff !important;

				&:before,
				&:after {
					.hidden();
				}

				.timeline-body {
					.text-center();
				}
			}
		}
	}
}

.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline-body {
	p,
	ul {
		margin-bottom: 0px;
	}

    ul {
        .pd-l-20();
    }

	p + p {
		margin-top: 5px;
	}
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
