<div class="panel">
    <div class="panel-body">
        <h4>INFORMASI DONATUR</h4>
        <div class="form-group">
            <label class="is-required">Nama</label>
            <input name="name" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label class="is-required">No. Telefon</label>
            <input name="phone" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label class="is-required">Email</label>
            <input name="email" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label class="is-required">Lokasi Penerimaan</label>
            <select name="hub_id" class="form-control">
                <option value="">-- Pilih --</option>
                {% for hub in hubs %}
                <option value="{{ hub.id }}">{{ hub.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div data-target-package-items>
    {% partial 'admin/berbagibuku/gift/package-items' %}
</div>
<div class="panel">
    <div class="panel-body">
        <div class="text-right">
            <button type="button" class="btn btn-primary" data-add-package>TAMBAH ITEM</button>
        </div>
    </div>
</div>

<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>

{% put scripts %}
<script>
$('body').on('click', '[data-add-package]', function(e){
    var button = $(this);
    var length = $('[data-target-package-item]').length;

    $.request('AdminBbGift::onAddItem', {
        data: {
            length  : length,
        },
        beforeSend:function() {
            button.button('loading');
        },
        success: function(data) {
            this.success(data).done(function() {
                $('[data-target-package-items]').append(data.package)
            });
            button.button('reset');
        }
    });
});

$('body').on('click', '[data-remove-package]', function(e){
    var button = $(this);
    var length = $('[data-target-package-item]').length;
    var isExist = button.data('parameter');

    if(confirm('Hapus keahlian ini?')) {
        if(isExist) {
            $.request('AdminBbGift::onRemoveItem', {
                data: {
                    parameter  : isExist,
                },
                beforeSend:function() {
                    button.button('loading');
                },
                success: function(data) {
                    this.success(data).done(function() {
                        $('[data-target-package-items]').html(data.package);
                        $.oc.flashMsg({ text: data.message, class: data.type })
                    });
                    button.button('reset');
                },
            });

            return;
        }

        button.button('loading');
        $('[data-target-package-item]')[length-1].remove();
        button.button('reset');
    }
});
</script>
{% endput %}
