<div class="panel" data-target-package-item>
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Buku ke {{ key ? key + 1 : '1' }}</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="is-required">Title</label>
            <input name="title[{{ key ? key : '0' }}]" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label class="is-required">Qty</label>
            <input name="qty[{{ key ? key : '0' }}]" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label class="is-required">Author</label>
            <input name="author[{{ key ? key : '0' }}]" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label class="is-required">Publisher</label>
            <input name="publisher[{{ key ? key : '0' }}]" type="text" class="form-control">
        </div>
        {% if key or item.parameter %}
        <hr>
        <div class="text-right">
            <button type="button" class="btn btn-danger" data-remove-package>HAPUS</button>
        </div>
        {% endif %}
    </div>
</div>
