<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Picture</div>
        </div>
    </div>

    <div class="panel-body">
        {% component 'pictureUploader' %}
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">General Information</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="is-required">Name</label>
                    <input class="form-control" type="text" name="name" value="{{ label.name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="is-required">Publikasi</label>
                    <select name="is_published" class="form-control">
                        <option value="1" {{ label.is_published == 1 ? 'selected' : '' }}>Published</option>
                        <option value="0" {{ label.is_published == 0 ? 'selected' : '' }}>Draft</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
