<div class="row">
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Personal Identification
                </div>
            </div>

            <div class="panel-body">
                {% partial 'admin/volunteer/form-personal' volunteer=volunteer %}
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Picture
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    {% component 'imageUploader' %}
                </div>
            </div>
        </div>


        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Parent Identification
                </div>
            </div>

            <div class="panel-body">
                {% partial 'admin/volunteer/form-parent' %}
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <button class="btn btn-primary btn-block" data-attach-loading>SUBMIT</button>
</div>
