<div class="card-body">
    <div class="form-group">
        <label class="is-required">Alamat</label>
        <textarea name="parent_address" rows="5" class="form-control">{{ volunteer.address_parent }}</textarea>
    </div>

    <div class="form-group">
        <label class="is-required">Nomor Telefon</label>
        <input type="text" class="form-control" name="parent_phone" value="{{ volunteer.phone_parent }}">
    </div>
</div>
