<div class="card-body">
    <div class="form-group">
        <label class="is-required">Nama</label>
        <input type="text" class="form-control" name="name" value="{{ volunteer.name }}">
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="is-required">Tempat Lahir</label>
                <input type="text" class="form-control" name="born_place" value="{{ volunteer.born_place }}">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="is-required">Tanggal Lahir</label> <span class="small text-muted">(Format: yyyy-mm-dd)</span>
                <input type="text" class="form-control tglLahir" name="dob" value="{{ volunteer.dob }}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="is-required">Jenis Kelamin</label><br>
        <div class="radio3 radio-check radio-inline">
          <input type="radio" name="gender" value="laki-laki" {{ volunteer.gender == 'laki-laki' ? 'checked' : '' }}>
          <label for="radio">
            Laki-laki
          </label>
        </div>

        <div class="radio3 radio-check radio-inline">
          <input type="radio" name="gender" value="perempuan" {{ volunteer.gender == 'perempuan' ? 'checked' : '' }}>
          <label for="radio2">
            Perempuan
          </label>
        </div>
    </div>



    <div class="form-group">
        <label class="is-required">Golongan Darah</label>
        <select name="blood_type" class="form-control">
            <option value="">-- Pilih Golongan Darah --</option>
            <option value="a" {{ volunteer.blood_type == 'a' ? 'selected' : '' }}>A</option>
            <option value="b" {{ volunteer.blood_type == 'b' ? 'selected' : '' }}>B</option>
            <option value="ab" {{ volunteer.blood_type == 'ab' ? 'selected' : '' }}>AB</option>
            <option value="o" {{ volunteer.blood_type == 'o' ? 'selected' : '' }}>O</option>
        </select>
    </div>

    <div class="form-group">
        <label class="is-required">Alamat</label>
        <textarea name="address" rows="4" class="form-control">{{ volunteer.address }}</textarea>
    </div>

    <div class="form-group">
        <label class="is-required">Agama</label>
        <select name="religion" class="form-control">
            <option>-- Pilih Agama --</option>
            <option {{ volunteer.religion == 'islam' ? 'selected' : '' }} value="islam">Islam</option>
            <option {{ volunteer.religion == 'protestan' ? 'selected' : '' }} value="protestan">Protestan</option>
            <option {{ volunteer.religion == 'katholik' ? 'selected' : '' }} value="katholik">Katholik</option>
            <option {{ volunteer.religion == 'hindu' ? 'selected' : '' }} value="hindu">Hindu</option>
            <option {{ volunteer.religion == 'budha' ? 'selected' : '' }} value="budha">Budha</option>
        </select>
    </div>

    <div class="form-group">
        <label class="is-required">Asal Sekolah / Universitas</label>
      <input type="text" class="form-control" name="school" value="{{ volunteer.school }}">
    </div>

    <div class="form-group">
        <label>Pekerjaan</label>
      <input type="text" class="form-control" name="job" value="{{ volunteer.job }}">
    </div>

    <div class="form-group">
        <label class="is-required">Email</label>
        <input type="text" class="form-control" name="email" value="{{ volunteer.email }}">
    </div>

    <div class="form-group">
        <label class="is-required">Nomor Telefon</label>
        <input type="text" class="form-control" name="phone" value="{{ volunteer.phone }}">
    </div>

    <!-- Isbanban Info -->
    <hr>
    <div class="form-group">
        <label class="is-required">Bulan Masuk</label> <span class="small text-muted">Format: (yyyy-mm-dd)</span>
        <input type="text" class="form-control tglGabung" name="joined_at" value="{{ volunteer.joined_at }}">
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="is-required">Domisili</label>
                <select name="chapter_code" class="form-control">
                    <option value="">-- Pilih Chapter --</option>
                    {% for chapter in chapters %}
                    <option {{ chapter.code == volunteer.chapter_code ? 'selected' : '' }} value="{{ chapter.code }}">{{ chapter.name|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>Departemen</label>
                <select name="department_code" class="form-control">
                    <option value="">-- Pilih Departemen --</option>
                    {% for department in departments %}
                    <option {{ department.code == volunteer.department_code ? 'selected' : '' }} value="{{ department.code }}">{{ department.name|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>Posisi</label>
                <select name="position_id" class="form-control">
                    <option value="">-- Pilih Posisi --</option>
                    {% for position in positions %}
                    <option value="{{ position.id }}">{{ position.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="is-required">Kenapa bergabung dengan isbanban?</label>
        <textarea name="joined_reason" rows="3" class="form-control">{{ volunteer.joined_reason }}</textarea>
    </div>

    <div class="form-group">
        <label class="is-required">Mimpi untuk isbanban</label>
        <textarea name="joined_vision" rows="3" class="form-control">{{ volunteer.joined_vision }}</textarea>
    </div>

    <!-- Social Info -->
    <hr>
    <div class="form-group">
        <label>Facebook Link</label>
        <input type="text" class="form-control" placeholder="http://facebook.com/isbanban-family" name="facebook_link" value="{{ volunteer.facebook_link }}">
    </div>

    <div class="form-group">
        <label>Twitter Link</label>
        <input type="text" class="form-control" placeholder="http://twitter.com/isbanban-family" name="twitter_link" value="{{ volunteer.twitter_link }}">
    </div>

    <div class="form-group">
        <label>Instagram Link</label>
        <input type="text" class="form-control" placeholder="http://Instagram.com/isbanban-family" name="instagram_link" value="{{ volunteer.instagram_link }}">
    </div>
</div>
