<div class="block block-banner-batik" style="background-image: url({{ background }})">
	<div class="container">
		<h1>{{ title ? title : '' }}</h1>
        <p>{{ leading ? leading : '' }} </p>
	</div>
</div>
