<div class="block block-banner-primary" style="background-image: url({{ background }}); background-size: cover">
	<div class="container container-banner text-center">
		<h1>{{ title ? title }}</h1>
        {% if excerpt %}
		<p class="text-excerpt">
			{{ excerpt }}
		</p>
        {% endif %}
	</div>
</div>
