{% put scripts %}
<link rel="stylesheet" href="{{ '../../bower_components/froala-wysiwyg-editor/css/froala_editor.pkgd.min.css'|theme }}">
<script src="{{ '../../bower_components/froala-wysiwyg-editor/js/froala_editor.pkgd.min.js'|theme }}"></script>
<script>
$(function() {
    $('#editor1').froalaEditor({
      toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'quote', 'insertHR', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html'],
      pluginsEnabled: null
    });

    $(".fr-element").css({"min-height":"400px"});

    $(".fr-wrapper").next().hide();

    $('#editor1').on('froalaEditor.input', function (e, editor, keyupEvent) {
        $(".fr-quick-insert").next().hide();
    });
});
</script>
{% endput %}
