[viewBag]

==
<footer>
    <div class="container">
        <hr>

        <div class="prefooter">
            <div class="row">
                <div class="col-md-3 cl-sm-6">
                    <ul class="prefooter-navigation">
                        <li><a>NAVIGASI</a></li>
                        <li><a href="{{ 'contact/index'|page }}">HUBUNGI KAMI</a></li>
                        <li><a href="https://donor.isbanban.org">DONASI</a></li>
                        <li><a href="https://vam.isbanban.org">ASSETS MANAGEMENT</a></li>
                        <li><a href="{{ 'assistance/index'|page }}">PUBLIC ASSISTANCE</a></li>
                    </ul>
                </div>

                <div class="col-md-3 cl-sm-6">
                    <ul class="prefooter-navigation">
                        <li><a>PROGRAM</a></li>
                        {% for program in programs %}
                        <li><a href="{{ 'program/detail'|page({parameter: program.slug}) }}">{{ program.name|upper }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3 cl-sm-6">
                    <ul class="prefooter-navigation">
                        <li><a>DESA BINAAN</a></li>
                        {% for region in regions %}
                        <li><a href="{{ 'village/chapter'|page({parameter: region.slug}) }}">{{ region.name|upper }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3 cl-sm-6">
                    <ul class="prefooter-navigation">
                        <li><a>UNIT BISNIS</a></li>
                        <li><a href="https://careinstitute.id">CAREINSTITUTE</a></li>
                        <li><a href="https://carestore.isbanban.org">CARESTORE</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="postfooter text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <div class="postfooter-logo">
                        <a href="{{ 'home'|page }}">
                            <img src="{{ 'assets/images/typetext-white.png'|theme }}" alt="" class="img-center img-responsive">
                        </a>
                        <p class="visible hidden-sm hidden-xs">
                            We Are Youth-Led Non Profit Social Foundation Focus on Helping Underprivilleged Children in Rural Area of Banten to Attain Access an Excellence of Education
                        </p>
                        <p class="hidden visible-sm visible-xs">
                            We Are Youth-Led Non Profit Social Foundation Focus on Helping Underprivilleged Children in Rural Area of Banten to Attain Access an Excellence of Education
                        </p>
                    </div>

                    <div class="postfooter-social">
                        <a href="https://www.facebook.com/IstanaBelajarAnakBanten/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>

                        <a href="https://www.instagram.com/isbanbanfoundation/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>

                        <a href="https://www.youtube.com/channel/UC53cI4i-ABc721-UaENUYJA" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <p>
                Bergerak dengan <i class="fa fa-heart text-danger"></i> di Banten <br>
                Copyright © 2017 — Istana Belajar Anak Banten
            </p>
        </div>
    </div>
</footer>
