<div class="leftpanel sticky-leftpanel">
  <a href="{{ 'admin/dashboard-index'|page }}">
  <div class="logopanel" style="background: url({{ 'assets/images/typetext-black.png'|theme }}) no-repeat center center; background-size: 100px; background-color: white;  height: 50px;">
      <!-- <h1><span>[</span> Isbanban <span>]</span></h1> -->
  </div><!-- logopanel -->
  </a>

  <div class="leftpanelinner">
    <h5 class="sidebartitle">GENERAL</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
        <li class="{{ this.page.pageActive == 'dashboard' ? 'active' : '' }}">
            <a href="{{ 'admin/dashboard-index'|page }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
        </li>

        <li class="{{ this.page.pageActive == 'blog' ? 'active' : '' }}">
            <a href="{{ 'admin/blog-index'|page }}"><i class="fa fa-pencil"></i> <span>Publikasi</span></a>
        </li>

        <li class="{{ this.page.pageActive == 'children' ? 'active' : '' }}">
            <a href="{{ 'admin/children-index'|page }}"><i class="fa fa-child"></i> <span>Anak Binaan</span></a>
        </li>

        <li class="nav-parent {{ this.page.pageActive == 'volunteer' or
            this.page.pageActive == 'resource' or
            this.page.pageActive == 'recruitment' ? 'nav-active active' : '' }}">
            <a href="#"><i class="fa fa-users"></i> <span>Relawan</span></a>
            <ul
                class="children"
                style="{{ this.page.pageActive == 'volunteer' or
                        this.page.pageActive == 'resource' or
                        this.page.pageActive == 'recruitment' ? 'display: block' : '' }}"
                >
                <li class="{{ this.page.pageActive == 'volunteer' ? 'active' : '' }}">
                    <a href="{{ 'admin/volunteer-index'|page }}">
                        <i class="fa fa-caret-right"></i> Semua
                    </a>
                </li>
                <li class="{{ this.page.pageActive == 'resource' ? 'active' : '' }}">
                    <a href="{{ 'admin/resource-index'|page }}">
                        <i class="fa fa-caret-right"></i> Sumber Daya
                    </a>
                </li>
                <li class="{{ this.page.pageActive == 'recruitment' ? 'active' : '' }}">
                    <a href="{{ 'admin/recruitment-index'|page }}">
                        <i class="fa fa-caret-right"></i> Recruitment
                    </a>
                </li>
            </ul>
        </li>

        <li class="{{ this.page.pageActive == 'village' ? 'active' : '' }}">
            <a href="{{ 'admin/village-index'|page }}"><i class="fa fa-home"></i> <span>Desa Binaan</span></a>
        </li>

        <li class="{{ this.page.pageActive == 'feedback' ? 'active' : '' }}">
            <a href="{{ 'admin/feedback-index'|page }}"><i class="fa fa-comments"></i> <span>Tanggapan</span></a>
        </li>

        <li class="{{ this.page.pageActive == 'partner' ? 'active' : '' }}">
            <a href="{{ 'admin/partner-index'|page }}"><i class="fa fa-globe"></i> <span>Mitra</span></a>
        </li>

        <li class="{{ this.page.pageActive == 'faq' ? 'active' : '' }}">
            <a href="{{ 'admin/faq-index'|page }}"><i class="fa fa-question-circle"></i> <span>FAQ</span></a>
        </li>

        <li class="{{ this.page.pageActive == 'program' ? 'active' : '' }}">
            <a href="{{ 'admin/program-index'|page }}"><i class="fa fa-share-alt"></i> <span>Program</span></a>
        </li>

        <li class="{{ this.page.pageActive == 'assistance' ? 'active' : '' }}">
            <a href="{{ 'admin/assistance-index'|page }}"><i class="fa fa-lightbulb-o"></i> <span>Asisten Publik</span></a>
        </li>

        <li class="{{ this.page.pageActive == 'donor-relation' ? 'active' : '' }}">
            <a href="{{ 'admin/donor-relation-index'|page }}"><i class="fa fa-certificate"></i> <span>Donor Relation</span></a>
        </li>

        <li class="{{ this.page.pageActive == 'user' ? 'active' : '' }}">
            <a href="{{ 'admin/user-index'|page }}"><i class="fa fa-user"></i> <span>User</span></a>
        </li>
    </ul>

    <h5 class="sidebartitle">INVENTORI</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
        <li class="{{ this.page.pageActive == 'book' ? 'active' : '' }}">
            <a href="{{ 'admin/book-index'|page }}"><i class="fa fa-book"></i> <span>Buku</span></a>
        </li>
        <li class="{{ this.page.pageActive == 'bank' ? 'active' : '' }}">
            <a href="{{ 'admin/bank-index'|page }}"><i class="fa fa-bank"></i> <span>Bank</span></a>
        </li>
    </ul>

    <h5 class="sidebartitle">CAREPOINTS</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
        <li class="{{ this.page.pageActive == 'cp-point' ? 'active' : '' }}">
            <a href="{{ 'admin/carepoint-point-index'|page }}"><i class="fa fa-copyright"></i> <span>Point</span></a>
        </li>
        <li class="{{ this.page.pageActive == 'cp-experience' ? 'active' : '' }}">
            <a href="{{ 'admin/carepoint-experience-index'|page }}"><i class="fa fa-user-plus"></i> <span>Experience</span></a>
        </li>
    </ul>

    <h5 class="sidebartitle">DONOR</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
        <li class="{{ this.page.pageActive == 'donor-donator' ? 'active' : '' }}">
            <a href="{{ 'admin/donor-user-index'|page }}"><i class="fa fa-users"></i> <span>Donatur</span></a>
        </li>
        <li class="{{ this.page.pageActive == 'donor-package' ? 'active' : '' }}">
            <a href="{{ 'admin/donor-package-index'|page }}"><i class="fa fa-cubes"></i> <span>Paket</span></a>
        </li>
        <li class="{{ this.page.pageActive == 'donor-invoice' ? 'active' : '' }}">
            <a href="{{ 'admin/donor-invoice-index'|page }}"><i class="fa fa-clipboard"></i> <span>Tagihan</span></a>
        </li>
    </ul>

    <h5 class="sidebartitle">BERBAGI BUKU</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
        <li class="{{ this.page.pageActive == 'bb-commerce' ? 'active' : '' }}">
            <a href="{{ 'admin/berbagibuku-commerce-index'|page }}"><i class="fa fa-shopping-bag"></i> <span>Pemesanan</span></a>
        </li>
        <li class="{{ this.page.pageActive == 'bb-gift' ? 'active' : '' }}">
            <a href="{{ 'admin/berbagibuku-gift-index'|page }}"><i class="fa fa-truck"></i> <span>Penerimaan</span></a>
        </li>
        <li class="{{ this.page.pageActive == 'bb-package' ? 'active' : '' }}">
            <a href="{{ 'admin/berbagibuku-package-index'|page }}"><i class="fa fa-cubes"></i> <span>Paket</span></a>
        </li>
        <li class="{{ this.page.pageActive == 'bb-wanted' ? 'active' : '' }}">
            <a href="{{ 'admin/berbagibuku-wanted-index'|page }}"><i class="fa fa-archive"></i> <span>Daftar Buku</span></a>
        </li>
        <li class="{{ this.page.pageActive == 'bb-hub' ? 'active' : '' }}">
            <a href="{{ 'admin/berbagibuku-hub-index'|page }}"><i class="fa fa-retweet"></i> <span>Hub</span></a>
        </li>
    </ul>

    <h5 class="sidebartitle">AKUN SAYA</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
        <li>
            <a href="{{ 'home'|page }}" target="_blank"><i class="fa fa-crosshairs"></i> <span>Website</span></a>
        </li>
        <li>
            <a href="#" data-request="IsAdmin::onLogout" data-attach-loading data-request-flash><i class="fa fa-sign-out"></i> <span>Keluar</span></a>
        </li>
    </ul>

    {#
    <h5 class="sidebartitle">VOLUNTEER ASSETS MANAGEMENT</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
        <li>
            <a href="{{ 'admin/partner-index'|page }}"><i class="fa fa-heart"></i> <span>Donator</span></a>
        </li>
    </ul>
    #}
  </div><!-- leftpanelinner -->
</div><!-- leftpanel -->
