<div class="navmenu navmenu-inverse navmenu-fixed-right offcanvas" id="primaryMenu">
    <ul class="nav navmenu-nav">
        <li><a href="{{ 'home'|page }}">BERANDA</a></li>
        <li><a href="{{ 'about/index'|page }}">TENTANG KAMI</a></li>
        <li><a href="{{ 'blog/index'|page }}">BERITA</a></li>
        <li><a href="javascript:void(0);" class="collapseable-menu collapsed" data-toggle="collapse" data-target="#menuProgram">PROGRAM <span class="pull-right"><i class="caret"></i></span></a></li>
        <ul class="nav navmenu-nav collapse" id="menuProgram">
            {% for program in programs %}
            <li><a href="{{ 'program/detail'|page({parameter: program.slug}) }}">{{ program.name }}</a></li>
            {% endfor %}
        </ul>
        <li><a href="javascript:void(0);" class="collapseable-menu collapsed" data-toggle="collapse" data-target="#menuVillage">DESA BINAAN <span class="pull-right"><i class="caret"></i></span></a></li>
        <ul class="nav navmenu-nav collapse" id="menuVillage">
            {% for region in regions %}
            <li><a href="{{ 'village/chapter'|page({parameter: region.slug}) }}">{{ region.name|upper }}</a></li>
            {% endfor %}
        </ul>
        <li><a href="javascript:void(0);" class="collapseable-menu collapsed" data-toggle="collapse" data-target="#menuResource">UNIT BISNIS <span class="pull-right"><i class="caret"></i></span></a></li>
        <ul class="nav navmenu-nav collapse" id="menuResource">
            <li><a href="https://careinstitute.id">CAREINSTITUTE</a></li>
            <li><a href="https://carestore.isbanban.org">CARESTORE</a></li>
        </ul>
    </ul>
</div>

<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a href="{{ 'home'|page }}">
            <img src="{{ 'assets/images/typetext-black.png'|theme }}" alt="" class="img-responsive navbar-brand">
        </a>

        <button type="button" class="navbar-toggle navbar-toggle-right" data-toggle="offcanvas" data-target="#primaryMenu" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="{{ 'home'|page }}">BERANDA</a>
            </li>
            <li>
                <a href="{{ 'about/index'|page }}">TENTANG KAMI</a>
            </li>
            <li>
                <a href="{{ 'blog/index'|page }}">BERITA</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-main-menu">
                <a href="javascript:void(0);" data-toggle="dropdown">
                    <i class="fa fa-navicon fa-fw"></i> MENU
                </a>

                <ul class="dropdown-menu dropdown-menu-primary">

                    <ul class="menu-primary">
                        <li class="primary-head"><a>PROGRAM</a></li>
                        {% for program in programs %}
                        <li><a href="{{ 'program/detail'|page({parameter: program.slug}) }}">{{ program.name|upper }}</a></li>
                        {% endfor %}
                    </ul>

                    <ul class="menu-primary">
                        <li class="primary-head"><a>DESA BINAAN</a></li>
                        {% for region in regions %}
                        <li><a href="{{ 'village/chapter'|page({parameter: region.slug}) }}">{{ region.name|upper }}</a></li>
                        {% endfor %}
                    </ul>

                    <ul class="menu-primary">
                        <li class="primary-head"><a>UNIT BISNIS</a></li>
                        <li><a href="https://careinstitute.id">CAREINSTITUTE</a></li>
                        <li><a href="https://carestore.isbanban.org">CARESTORE</a></li>
                    </ul>
                </ul>
            </li>
        </ul>
    </div>
</header>
