{% put scripts %}
<script src="{{ [
    '../../bower_components/jquery-ias/src/jquery-ias.js',
    '../../bower_components/jquery-ias/src/extension/trigger.js',
    '../../bower_components/jquery-ias/src/extension/spinner.js',
    '../../bower_components/jquery-ias/src/callbacks.js',
]|theme }}"></script>
<script>
var ias = jQuery.ias({
  container:  '.infinite-container',
  item:       '.infinite-post',
  pagination: '.infinite-pagination',
  next:       '.infinite-pagination a'
});
// Add a loader image which is displayed during loading
ias.extension(new IASSpinnerExtension());
ias.extension(new IASTriggerExtension());
</script>
{% endput %}
