<div class="text-center mg-t-40 mg-b-40 text-muted">
    <i class="fa fa-meh-o fa-5x"></i>
    <p class="lead">
        {{ message }}
    </p>
    {% if withButton %}
    <a href="{{ 'home'|page }}" class="btn btn-primary">
        <i class="fa fa-arrow-left fa-fw"></i> KEHALAMAN DEPAN
    </a>
    {% endif %}
</div>
