<div class="pageheader">
  <h2><i class="fa {{ icon }}"></i> {{ pageTitle }}</h2>
  <div class="breadcrumb-wrapper">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li><a href="{{ 'dashboard-index'|page }}">Dashboard</a></li>
      <li class="active">{{ pageTitle }}</li>
    </ol>
  </div>
</div>
