{% if recruitments|length %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nama</th>
                    <th>Asal Sekolah / Pekerjaan</th>
                    <th>Tanggal Mendaftar</th>
                </tr>
            </thead>

            <tbody>
                {% for key, recruitment in recruitments %}
                <tr>
                    <td style="vertical-align: middle">{{ key + 1 }}</td>
                    <td style="width: 33.33%; vertical-align: middle">{{ recruitment.name }}</td>
                    <td style="width: 33.33%; vertical-align: middle">{{ recruitment.job ? recruitment.job : 'Tidak ada isian' }}</td>
                    <td style="width: 33.33%; vertical-align: middle">{{ recruitment.created_at|date('l, d F Y (H:i)') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="text-center">
        <img src="{{ 'assets/images/typetext-black.png'|theme }}" alt="" class="img-responsive" style="margin: 0px auto; margin-bottom: 10px; width: 150px;">
        <p class="lead mg-b-10">UGHHH, BELUM ADA PESERTA MENDAFTAR 😔</p>
        <a href="{{ 'recruitment'|page }}" class="btn btn-primary">DAFTAR SEKARANG</a>
    </div>
{% endif %}
