[googleTracker]

==

{% component 'googleTracker' %}
<script type='text/javascript' data-cfasync='false' src='//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js' data-shr-siteid='7052b25fdf339afd6e55faacc466eee0' async='async'></script>
<script>
	{% if user %}
	// GA User Identification
	ga('set', 'userId', '{{ user.email }}');

	// Zopim User Identification
	// $zopim(function() {
	//     $zopim.livechat.setName('{{ user.name }}');
	//     $zopim.livechat.setEmail('{{ user.email }}');
	// });
	{% endif %}
</script>
{% if not this.page.isHideChat %}
<script src="https://wchat.freshchat.com/js/widget.js"></script>
<script>
window.fcWidget.init({
    token: "76822506-489e-465f-adee-e92fe95ffed1",
    host: "https://wchat.freshchat.com"
});
</script>
{% endif %}
