<html><head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <style type="text/css" media="screen">
        {{ css|raw }}
    </style>
</head><body style="background: url({{ background_img }}) top left no-repeat;">
    <div id="header">

    </div>

    <div id="footer">
        <!-- <img class="footer-logo" src="themes/turez/assets/images/turez-logo.png" alt=""> -->
        <div class="line"></div>
        <div class="left">
            <strong>Istana Belajar Anak Banten</strong>
            &middot;
            089622048933
            &middot;
            <a href="mailto:recruitment@isbanban.org">recruitment@isbanban.org</a>
            &middot;
            <a href="http://isbanban.org">isbanban.org</a>
        </div>
        <div class="right">Page <span class="page-number"></span></div>
    </div>

    {#
    <table class="body-wrap">
        <tr>
            <td class="container">
                <table>
                    <!-- Header -->
                    <tr>
                        <td align="center" class="masthead">
                            <img alt="" class="img-responsive" src="http://mtos.embrio.me/themes/marthatilaar/assets/images/logo.png"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    #}

    <div id="content" class="content">{{ content_html|raw }}</div>
</body></html>
