<h4>{{ post['chapter'] == 'all' ? 'Semua Chapter' : post['chapter']|upper }}</h4>
<p class="text-muted">Tanggal dibuat: {{ generate }}</p>
<hr>

<table class="table">
    <thead>
        <tr>
            {% for col in post['column'] %}
                <th>{{ col|upper }}</th>
            {% endfor %}

        </tr>
    </thead>

    <tbody>
        {% for key, recruitment in recruitments %}
        <tr>
            {% for col in post['column'] %}

                {% if col == 'no' %}
                    <td>{{ key + 1 }}</td>
                {% endif %}

                {% if col == 'name' %}
                    <td>{{ recruitment.name }}</td>
                {% endif %}

                {% if col == 'phone' %}
                    <td>{{ recruitment.phone }}</td>
                {% endif %}

                {% if col == 'email' %}
                    <td>{{ recruitment.email }}</td>
                {% endif %}

                {% if col == 'chapter' %}
                    <td>{{ recruitment.region.name|capitalize }}</td>
                {% endif %}

                {% if col == 'job' %}
                    <td>{{ recruitment.job }}</td>
                {% endif %}

                {% if col == 'status' %}
                    <td>{{ recruitment.status == 1 ? 'Approved' : 'Rejected' }}</td>
                {% endif %}

                {% if col == 'created_at' %}
                    <td>{{ recruitment.created_at|date('l, d F Y H:i') }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
