<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Pertanyaan</label>
                    <textarea name="question" cols="30" rows="10" class="form-control">{{ faq.question }}</textarea>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Jawaban</label>
                    <textarea name="answer" cols="30" rows="10" class="form-control">{{ faq.answer }}</textarea>
                </div>
            </div>

            <div class="col-sm-12">
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
            </div>
        </div>
    </div>
</div>
