<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">General Information</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label  class="is-required">Agent</label>
                    <select name="volunteer_id" class="form-control">
                        <option value="">-- Pilih --</option>
                        {% for volunteer in volunteers %}
                        <option value="{{ volunteer.id }}" {{ volunteer.id == agent.volunteer_id ? 'selected' : '' }}>{{ volunteer.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="is-required">Bank</label>
                    <select name="bank_id" class="form-control">
                        <option value="">-- Pilih --</option>
                        {% for bank in banks %}
                        <option value="{{ bank.id }}" {{ bank.id == agent.bank_id ? 'selected' : '' }}>{{ bank.name }} ({{ bank.short_name }})</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Account Name</label>
                    <input class="form-control" type="text" name="name" value="{{ agent.name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Account Number</label>
                    <input class="form-control" type="text" name="number" value="{{ agent.number }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Publikasi</label>
                    <select name="is_published" class="form-control">
                        <option value="1" {{ agent.is_published == 1 ? 'selected' : '' }}>Published</option>
                        <option value="0" {{ agent.is_published == 0 ? 'selected' : '' }}>Draft</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
