<div class="row" data-target-donor>
    <div class="col-sm-10">
        <select name="volunteer_id" class="form-control">
            {% for volunteer in volunteers %
            <option value="{{ volunteer.id }}">{{ volunteer.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-2">

    </div>
</div>
