<div class="panel">
    <div class="panel-body">
        <label class="is-required">Publikasi</label>
        <select name="is_published" class="form-control">
            <option value="1" {{ hub.is_published == 1 ? 'selected' : '' }}>Published</option>
            <option value="0" {{ hub.is_published == 0 ? 'selected' : '' }}>Draft</option>
        </select>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">General Information</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="is-required">Name</label>
                    <input class="form-control" type="text" name="name" value="{{ hub.name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="is-required">Map</label>
                    <div class="location-map">
                        <div class="location-marker"><img src="{{ 'assets/images/marker-map.png'|theme }}" alt="" height="70"></div>
                        <input type="text" id="location-search" class="form-control" placeholder="Cari Lokasi">
                        <div id="mapLocation" style="height: 400px"></div>
                    </div>
                    <div class="alert alert-info mg-b-0 alert-location">
                        Lokasi : <span data-toggle="locationName"></span>
                    </div>
                    <input type="hidden" name="latitude" data-toggle="locationMarkerLatitude" value="{{ hub.latitude }}">
                    <input type="hidden" name="longitude" data-toggle="locationMarkerLongitude" value="{{ hub.longitude }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="is-required">Address</label>
                    <textarea name="address" cols="30" rows="10" class="form-control">{{ hub.address }}</textarea>
                </div>
            </div>

            <div class="col-sm-12">
                {% partial 'location/province' provinces=provinces setProvince=hub.province_id %}
            </div>

            <div class="col-sm-12" data-target-regency>
                {% partial 'location/regency' regencies=regencies setProvince=hub.province_id setRegency=hub.regency_id %}
            </div>

            <div class="col-sm-12" data-target-district>
                {% partial 'location/district' districts=districts setRegency=hub.regency_id setDistrict=hub.district_id %}
            </div>

            <div class="col-sm-12" data-target-village>
                {% partial 'location/village' villages=villages setDistrict=hub.district_id setVillage=hub.village_id %}
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="is-required">Pos Code</label>
                    <input class="form-control" type="text" name="pos" value="{{ hub.pos }}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Agent Information</div>
        </div>
    </div>

    <div class="panel-body">
        <select name="agent[]" class="form-control" multiple>
            {% for agent in agents %}
            <option
                {% for hubAgent in hub.agents %}
                {{ hubAgent.volunteer_id == agent.id ? 'selected' : '' }}
                {% endfor %}
                value="{{ agent.id }}">{{ agent.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>

{% put scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBJgV2HnjR7mqWBA5wp1ev6K2ItJ1g-PT8&libraries=places, geometry&region=ID"></script>
<script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>
<script src="{{ [
    'assets/js/map.js',
]|theme }}"></script>
{% endput %}

{% if hub.latitude and hub.longitude %}
<script>
$(document).ready(function(){
    initialize('{{ hub.latitude }}', '{{ hub.longitude }}')
})
</script>
{% endif %}
