title = "Profile"
url = "/about"
layout = "default"
is_hidden = 0

==
{% partial 'block-banner-batik' title='Profile' background='assets/images/pattern-batik.jpg'|theme %}
<div class="container mg-t-40">
    <div class="row parent_sticky">
        <div class="col-sm-3">
            {% partial 'about/navigation' setActive='profile' %}
        </div>

        <div class="col-sm-9" id="sectionContent">
            <section id="secProfile">
                <div class="post-text-content text-content">
                    <div class="mg-b-40">
                        <h4>PROFILE</h4>
                        <p>
                            ISBANBAN Foundation is a youth-led non profit social foundation
                            established on February, 10th 2013. The single goal in sight is to helping
                            children in underprivilleged families in rural area of Banten to attain
                            access an excellence of education.
                        </p>
                    </div>

                    <div class="mg-b-40">
                        <h4>VISI</h4>
                        <p>
                            Every Children in Rural Area of Banten attain Access an Excellence of Education
                        </p>
                    </div>

                    <div class="mg-b-40">
                        <h4>MISI</h4>
                        <p>
                            Inspire youth make a movement who contribute to ensure that children growing up in underprivileged families get lifelong learning opportunities to access an excellence of education
                        </p>
                    </div>

                    <div class="mg-b-40">
                        <h4>VALUES</h4>
                        <ol class="pd-l-20">
                            <li>CARE VALUE: <b>CARE &amp; SHARE</b> Berbagai hal yang kami jalankan dalam organisasi berlandaskan kepada kepedulian dan kemauan untuk berbagi kepada sesama.</li>
                            <li>WORK VALUE: <b>IMPACT &amp; SUSTAINA</b> Perwujudan cara kerja yang kami lakukan di Isbanban Foundation dengan tujuan untuk memberikan hasil kinerja yang berdampak dan berkelanjutan.</li>
                            <li>VOLUNTEERISM VALUE: <b>RESPECT</b> Singkatan (R) Reminder , (E) Emphaty, (S) Special, (P) Powerful , (E) Engage , (C) Collaboration, (T) Trust. Nilai-nilai RESPECT ini yang kami jaga untuk menjaga semangat dan keterlibatan relawan di Isbanban Foundation.</li>
                        </ol>
                    </div>

                    <div class="mg-b-40">
                        <h4>GOALS</h4>
                        <p>
                            Berdasarkan adanya berbagai masalah pendidikan di Banten, ISBANBAN Foundation menetapkan sikapnya untuk menjadi pelopor perubahan dalam
                            menciptakan solusi. ISBANBAN Foundation dalam menciptakan sebuah solusi
                            maka dibutuhkan sebuah tujuan. Kami berfokus salah satunya pada tujuan
                            pembangunan dunia (Sustainble Development Goals 2030 Poin 4 Pendidikan)
                            dengan mempertimbangkan local problem ada. Maka terbentuklah 3 tujuan
                            utama gerakan ISBANBAN Foundation, yaitu :
                        </p>

                        <ol class="pd-l-20">
                            <li>Meningkatkan Akses Pendidikan anak di Pelosok Desa Banten</li>
                            <li>Meningkatkan Literasi Minat Baca Anak di Pelosok Desa Banten</li>
                            <li>Meningkatkan Angka Partisipasi Sekolah Anak di Sekolah di Pelosok Desa Banten</li>
                        </ol>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% partial 'about/scripts' %}
