title = "Rekam Jejak"
url = "/about/milestone"
layout = "default"
is_hidden = 0

==
use Isbanban\Milestone\Models\Milestone;

function onStart() {
    $this['milestones'] = Milestone::orderBy('date', 'asc')->get();
}

==
{% partial 'block-banner-batik' title='Rekam Jejak' background='assets/images/pattern-batik.jpg'|theme %}
<div class="container mg-t-40">
    <div class="row parent_sticky">
        <div class="col-sm-3">
            {% partial 'about/navigation' setActive='milestone' %}
        </div>

        <div class="col-sm-9" id="sectionContent">
            <section id="secProfile">
                <div class="post-text-content text-content">
                    <ul class="timeline">
                        {% for key,milestone in milestones %}
                        <li class="{{ key%2 == 0 ? 'timeline-inverted' : '' }}">
                            <div class="timeline-badge">
                                <i class="fa fa-circle-o"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <p>
                                        <small class="text-muted">
                                            <b>{{ milestone.date|date('l, d F Y') }}</b>
                                        </small>
                                    </p>
                                </div>

                                <div class="timeline-body">
                                    {{ milestone.content|raw }}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
{% partial 'about/scripts' %}
