title = "Team Kami"
url = "/about/militan"
layout = "default"
is_hidden = 0

==
{% partial 'block-banner-batik' title='Team Kami' background='assets/images/pattern-batik.jpg'|theme %}
<div class="container mg-t-40">
    <div class="row parent_sticky">
        <div class="col-sm-3">
            {% partial 'about/navigation' setActive='militan' %}
        </div>

        <div class="col-sm-9" id="sectionContent">
            <section id="secProfile">
                {% partial 'no-content' message='Belum ada konten' %}
                {#
                <div class="post-text-content text-content">
                </div>
                #}
            </section>
        </div>
    </div>
</div>
{% partial 'about/scripts' %}
