title = "Latarbelakang Masalah"
url = "/about/problem"
layout = "default"
is_hidden = 0

==
{% partial 'block-banner-batik' title='Latarbelakang Masalah' background='assets/images/pattern-batik.jpg'|theme %}
<div class="container mg-t-40">
    <div class="row parent_sticky">
        <div class="col-sm-3">
            {% partial 'about/navigation' setActive='problem' %}
        </div>

        <div class="col-sm-9" id="sectionContent">
            <section id="secProfile">
                <div class="post-text-content text-content">
                    <p>
                        Banten dalam segi pendidikan masih dinobatkan sebagai salah satu provinsi
                        yang memiliki kualitas pendidikan yang rendah di Indonesia. Badan Pusat Statistik
                        Banten tahun 2013 menyebutkan sebanyak 312.409 anak tidak bersekolah dari
                        604.812 total anak di Banten. Artinya 51,6 % anak tidak menikmati akses
                        pendidikan. Angka penyumbang terbesar berasal dari pelosok desa di Banten.
                        Rendahnya tingkat pendidikan di Banten juga menyebabkan sebanyak 337
                        ribu orang mengalami buta huruf. Tidak hanya itu, rendahnya kualitas pendidikan
                        ini menyebabkan 25.860 orang berada dibawah garis kemiskinan pada tahun 2015.
                        Kemiskinan pada tahun 2015 meningkat 7,89 % dari tahun yang 2014 disebabkan
                        oleh salah satunya karena faktor rendahnya kualitas pendidikan di Banten
                        khususnya di pelosok desa.
                        Rendahnya kualitas dan akses pendidikan di Banten memberikan dampak
                        atas lemahnya Indeks Pertumbuhan Manusia (IPM) di Banten yang hanya
                        mencapai angka 69.89. Penyumbang terbesar masih berasal dari pelosok desa
                        yang minim akan akses pendidikan. Penyebab terjadinya hal tersebut adalah
                        karena adanya ketidakseimbangan kualitas pendidikan di kota dan desa yang
                        membuat adanya pandangan “ketidakadilan pendidikan” antara kota dan desa.
                    </p>

                    <p>
                        Tahun 2013 Angka putus sekolah di Banten masih sangat tinggi. Berdasarkan
                        data BPS Banten tahun 2013, dari 602 ribu jiwa penduduk usia sekolah menengah,
                        sekitar 312 ribu anak tidak sekolah dan dari jumlah tersebut hanya sekitar 155 ribu
                        yang sedang bekerja. Sehingga lebih setengahnya penduduk usia sekolah
                        menengah tersebut, tidak bekerja dan juga tidak sekolah.
                        Berbagai pandangan atas adanya ketidakadilan akses dan kualitas pendidikan
                        antara kota dan pelosok desa di Banten membuat Istana Belajar Anak Banten
                        (Isbanban) tergerak untuk menjadi pelopor perubahan melalui potensi anak
                        mudanya dalam menciptakan akses dan kualitas pendidikan berkeadilan di pelosok
                        desa Banten. Data tahun 2013 menyebutkan bahwa Banten memiliki 212 ribu anak
                        muda yang tersebar di seluruh kabupaten/Kota. Hal tersebut membuat organisasi
                        ini dipimpin dan digerakkan langsung oleh anak muda atau disebut youth-led
                        organization dengan basis kerelawanan yang menerapkan social value Care &amp;
                        Share. Kami selalu percaya bahwa anak muda memiliki peranan penting untuk
                        mengubah suatu hal menjadi lebih baik. Dalam hal ini kami berani untuk
                        menjadi pelopor perubahan dengan mewadahi seluruh niat baik menjadi aksi baik
                        demi pendidikan yang lebih baik di pelosok desa Banten.
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>

{% partial 'about/scripts' %}
