title = "Program"
url = "/about/program"
layout = "default"
is_hidden = 0

==
{% partial 'block-banner-batik' title='Program' background='assets/images/pattern-batik.jpg'|theme %}
<div class="container mg-t-40">
    <div class="row parent_sticky">
        <div class="col-sm-3">
            {% partial 'about/navigation' setActive='program' %}
        </div>

        <div class="col-sm-9" id="sectionContent">
            <section id="secProfile">
                <div role="tabpanel">
                    <ul class="nav nav-tabs nav-justified tabs-program" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#BD" aria-controls="home" role="tab" data-toggle="tab">
                                BUILD
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#TC" aria-controls="home" role="tab" data-toggle="tab">
                                TEACH
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#SP" aria-controls="home" role="tab" data-toggle="tab">
                                SUPPORT
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content tab-content-program">
                        <div role="tabpanel" class="tab-pane active" id="BD">
                            <div class="post-text-content text-content">
                                {% partial 'about/program-bd' %}
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="TC">
                            <div class="post-text-content text-content">
                                {% partial 'about/program-tc' %}
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="SP">
                            <div class="post-text-content text-content">
                                {% partial 'about/program-sp' %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% partial 'about/scripts' %}
