title = "Resource"
url = "/resource/view/:parameter"
layout = "default"
is_hidden = 0

[BaseVolunteerResourceDetail]
parameter="{{ :parameter }}"
==

{% partial 'block-banner-primary' title=resource.name|upper excerpt=resource.name background='http://static.srcdn.com/wp-content/uploads/Greatest-Superhero-Films-Iron-Man.jpg' %}
<div class="bg-primary text-center text-excerpt pd-t-20 pd-b-20">
    <div class="container">
        <p class="mg-b-0">
            {{ resource.quote }}<br>
             &mdash; <em>{{ resource.name|upper }} TEAM</em>
        </p>
    </div>
</div>

<div class="container mg-t-40 mg-b-40">
    {# <div class="post post-featured-manager">
        <div class="text-center h2 mg-0 mg-b-20">
            THE CAPTAIN
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row row-flex flex-center">
                    <div class="col-md-4">
                        <div class="manager-avatar">
                            <img src="https://www.sideshowtoy.com/photo.php?sku=902622" alt="" class="img-responsive img-circle">
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="manager-info">
                            <div class="info-name h4">
                                Ganteng
                            </div>

                            <div class="info-quote">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptate voluptatibus ex, vitae omnis. Iure dolorum doloribus aperiam vero nemo aut, laudantium nostrum eveniet, sit deleniti voluptate voluptates at voluptatum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> #}

    <div class="text-content">
        {{ resource.content }}
    </div>

    <hr>

    {#
    <div class="text-center mg-b-40">
        <div class="h2">THE TEAM</div>
    </div>
    <div class="row">
        @foreach($resource->volunteers as $volunteer)
        <div class="col-sm-3 col-md-2 pd-0">
            @if($volunteer->path_photo)
                <img src="{{ URL::to('/images/volunteer/').'/'.$volunteer->path_photo }}" alt="" class="img-responsive img-full" data-toggle="tooltip" data-placement="top" data-title="{{ $volunteer->name }}" style="cursor:pointer">
            @else
                @if($volunteer->gender == 'laki-laki')
                    <img src="{{ asset('assets/image/placeholder-volunteer-m.png') }}" alt="" class="img-responsive img-full" data-toggle="tooltip" data-placement="top" data-title="{{ $volunteer->name }}" style="cursor:pointer">
                @else
                    <img src="{{ asset('assets/image/placeholder-volunteer-f.png') }}" alt="" class="img-responsive img-full" data-toggle="tooltip" data-placement="top" data-title="{{ $volunteer->name }}" style="cursor:pointer">
                @endif
            @endif
        </div>
        @endforeach
    </div>
    #}
</div>
