<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Cover</div>
        </div>
    </div>

    <div class="panel-body">
        {% component 'coverUploader' %}
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <label>Publikasi</label>
        <select name="is_published" class="form-control">
            <option value="1" {{ package.is_published == 1 ? 'selected' : '' }}>Published</option>
            <option value="0" {{ package.is_published == 0 ? 'selected' : '' }}>Draft</option>
        </select>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">General Information</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" name="name" value="{{ package.name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Item</label>
                    <select name="item[]" class="form-control" multiple>
                        {% for packageItem in packageItems %}
                        <option
                            {% for item in package.items %}
                                {{ item.item_id == packageItem.id ? 'selected' : '' }}
                            {% endfor %}
                            value="{{ packageItem.id }}">{{ packageItem.name }} ({{ 'Rp. ' ~ packageItem.value|number_format }})</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Deskripsi</label>
                    <textarea name="description" cols="30" rows="10" class="form-control">{{ package.description }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
