<div class="post post-blog">
	{# <a href="#">
		<div class="blog-thumbnail" style="background-image: url({{ blog.cover.getThumb('1200', '600', 'crop' )}}); background-repeat: no-repeat; background-size: cover; background-position: center center;"></div>
	</a> #}

	<a href="{{ 'blog/detail'|page({parameter: blog.slug}) }}">
		<img src="{{ blog.cover ? blog.cover.getThumb('1200', '600', 'crop' ) : 'assets/images/bg-placeholder-default.png'|theme }}" alt="{{ blog.title }}" class="img-responsive img-full">
	</a>

	<div class="blog-title h3 mg-0">
		<a href="{{ 'blog/detail'|page({parameter: blog.slug}) }}">
			{{ blog.title }}
		</a>
	</div>

	<div class="blog-meta">
		<div class="meta-date small text-muted">{{ blog.created_at.format('d F Y H:i') }}</div>
	</div>

	{# <div class="blog-excerpt text-excerpt">
        {{ blog.content|raw }}
	</div> #}
</div>
