<div class="post post-blog post-blog-horizontal">
    <a href="{{ 'blog/detail'|page({parameter: blog.slug })}}">
        <img src="{{ blog.cover ? blog.cover.getThumb('1200', '600', 'crop') : 'assets/images/bg-placeholder-default.png'|theme }}" alt="" class="img-responsive">
    </a>

    <div class="blog-title h4 mg-0">
        <a href="{{ 'blog/detail'|page({parameter: blog.slug })}}">
            {{ blog.title }}
        </a>
    </div>

    <div class="blog-meta">
        <div class="meta-date small text-muted">{{ blog.created_at|format('d F Y') }}</div>
    </div>
</div>
