<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Cover</div>
        </div>
    </div>

    <div class="panel-body">
        {% component 'pictureUploader' %}
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">General Information</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" name="name" value="{{ bank.name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Short Name</label>
                    <input class="form-control" type="text" name="short_name" value="{{ bank.short_name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Publikasi</label>
                    <select name="is_published" class="form-control">
                        <option value="">-- Pilih --</option>
                        <option value="1" {{ bank.is_published == 1 ? 'selected' : '' }}>Published</option>
                        <option value="0" {{ bank.is_published == 0 ? 'selected' : '' }}>Draft</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
