title = "Update Data"
url = "/volunteer/data/:parameter"
layout = "blank"
is_hidden = 0

[VolunteerUpdate]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->bodyClass = 'pd-0 mg-t-40 mg-b-40';
}
==
<div class="container">
    {% set chapters    = VolunteerUpdate.GetChapter %}
    {% set departments = VolunteerUpdate.GetDepartment %}

    {{ form_ajax('VolunteerUpdate::onSave', {'data-request-flash': ''}) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Personal Identification
                        </div>
                    </div>

                    <div class="panel-body">
                        {% partial 'admin/volunteer/form-personal' volunteer=volunteer chapters=chapters departments=departments %}
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Picture
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            {% component 'imageUploader' %}
                        </div>
                    </div>
                </div>


                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Parent Identification
                        </div>
                    </div>

                    <div class="panel-body">
                        {% partial 'admin/volunteer/form-parent' volunteer=volunteer chapters=chapters departments=departments %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block" data-attach-loading>SUBMIT</button>
        </div>

    {{ form_close() }}
</div>
