title = "Volunteer"
url = "/volunteer/verify"
layout = "blank"
is_hidden = 0

[VolunteerVerify]
==
{% put scripts %}
<link rel="stylesheet" href="{{ '../../bower_components/sweetalert2/dist/sweetalert2.min.css'|theme }}">
<script src="{{ '../../bower_components/sweetalert2/dist/sweetalert2.min.js' }}"></script>
<script>
$(document).ready(function(){
    swal({
        title: 'Kode Verifikasi',
        input: 'text',
        showCancelButton: true,
        allowEscapeKey: false,
        confirmButtonText: 'Submit',
        showLoaderOnConfirm: true,
        preConfirm: function (code) {
            return new Promise(function (resolve, reject) {
                setTimeout(function() {
                    if (!code) {
                        reject('Kode Verifikasi')
                    } else {
                        resolve()
                    }
                }, 2000)
            })
        },
        allowOutsideClick: false,
    })
    .then(function (code) {
        $.request('VolunteerVerify::onVerify', {
            data: {
                code: code
            },
        })
    })

    $('.swal2-cancel').click(function(){
        window.location = '{{ url() }}';
    });
});
</script>
{% endput %}
