title = "Asisten Publik"
url = "/isbanban-public-assistance"
layout = "default"
is_hidden = 0

[Assistance]
==
{% set assistanceCategories = Assistance.getCategory() %}
{% partial 'block-banner-batik' title='Asisten Publik Isbanban' background='assets/images/pattern-batik.jpg'|theme %}
<div class="container mg-t-40 mg-b-40">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Cari apapun yang kamu ingin tahu disini..." data-target-search>
    </div>

    <hr>

    {% for category in assistanceCategories %}
    <div class="mg-b-40">
        {% if Assistance.getByCategory(category.id)|length %}
        <div class="page-header mg-t-0">
            <h2>{{ category.name }}</h2>
        </div>
        <ul class="nav nav-stack">
            {% for assistance in Assistance.getByCategory(category.id) %}
            <li data-search-item><a href="{{ assistance.url }}" target="_blank">{{ assistance.name }}</a></li>
            {% endfor %}
        </ul>

        <div class="search-loading text-center" style="display: none;">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
            <p class="lead">Sedang mencari...</p>
        </div>

        <div class="search-notfound text-center" style="display: none;">
            <i class="fa fa-ban fa-3x"></i>
            <p class="lead">Data tidak ditemukan</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>


{% put scripts %}
<script src="{{ '../../bower_components/jquery.quicksearch/dist/jquery.quicksearch.min.js' }}"></script>
<script>
$('[data-target-search]').quicksearch('[data-search-item]', {
    selector: ['.h5', 'p'],
    onBefore: function () {
        // console.log('hide', $(this).find('.state-item'));
        $('[data-target-item]').data('show', false).hide();
        $('.search-loading').show();
    },
    show: function () {
        // console.log('show', $(this).parents('[data-target-item]'));
        $(this).show().parents('[data-target-item]').data('show', true);
    },
    onAfter: function () {
        $.each($('[data-target-item]'), function(i, obj) {
            if ($(obj).data('show')) {
                $(obj).show();
            }
        });
        $('.search-loading').hide();
    },
    noResults: '.search-notfound',
});
$('[data-target-search]').quicksearch('[data-search-item]');
</script>
{% endput %}
