<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">General Information</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Nama</label>
                    <input class="form-control" type="text" name="name" value="{{ assistance.name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Kategori</label>
                    <select name="category_id[]" class="select2 form-control" multiple>
                        {% for category in assistanceCategories %}
                            <option
                                {% for cat in assistance.categories %}
                                    {{ cat.id == category.id ? 'selected' : '' }}
                                {% endfor %}
                                value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Url</label>
                    <input class="form-control" type="text" name="url" value="{{ assistance.url }}">
                </div>
            </div>

            <div class="col-sm-12">
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
            </div>
        </div>
    </div>
</div>
