<ul class="nav nav-pills nav-stacked nav-about" id="sectionNav">
    <li class="{{ setActive == 'profile' ? 'active' : '' }}">
        <a href="{{ 'about/index'|page }}">PROFILE</a>
    </li>
    <li class="{{ setActive == 'problem' ? 'active' : '' }}">
        <a href="{{ 'about/problem'|page }}">LATAR BELAKANG MASALAH</a>
    </li>
    <li class="{{ setActive == 'program' ? 'active' : '' }}">
        <a href="{{ 'about/program'|page }}">PROGRAM</a>
    </li>
    <li class="{{ setActive == 'milestone' ? 'active' : '' }}">
        <a href="{{ 'about/milestone'|page }}">REKAM JEJAK</a>
    </li>
    <li class="{{ setActive == 'militan' ? 'active' : '' }}">
        <a href="{{ 'about/militan'|page }}">MILITAN</a>
    </li>
</ul>
