<p>
    SUPPORT berfokus pada pemberian beasiswa bagi anak anak yang lemah dalam ekonomi namun
    memiliki potensi diri untuk dikembangkan. Program ini dinamakan ISBANBAN Dream Scholarship
    atau disebut I DREAMS.
</p>

<p>
    Beasiswa diberikan dalam bentuk dana bantuan biaya sekolah, pembelian seragam dan peralatan
    sekolah, serta pembiayaan buku pelajaran sekolah. harapannya anak penerima beasiswa yang kami
    sebut I Dreams scholars dapat terbantu berbagai kebutuhan sekolahnya dan harapan besarnya
    dapat melanjutkan sekolah ke tingkatan yang lebih tinggi. Selain pemberian dana beasiswa, akan
    diberikan juga mentoring khusus persiapan lanjut sekolah yang meliputi kemampuan komunikasi,
    bersosialisasi sampai pada pelatihan penguasaan teknologi dan kewirausahaan. I DREAMS adalah
    upaya ISBANBAN Foundation untuk meningkatkan angka partisipasi sekolah dan menurunkan tingkat
    putus sekolah di Banten. Tahun 2018 terdapat 10 anak akan dibeasiswakan hingga di jenjang Sekolah
    Menengah Pertama sampai 3 tahun.
</p>
