<p>
BUILD berfokus pada pendirian taman baca sebagai upaya peningkatan budaya minat baca untuk
anak anak di pelosok desa Banten. Hal pertama yang ISBANBAN Foundation lakukan dalam
membantu pendidikan anak di desa adalah dengan membangun sebuah taman baca sebagai pusat
belajar dan membaca bagi anak-anak di desa. Dengan berdirinya sebuah taman baca, anak-anak
dapat berkumpul untuk bersama mencari wawasan baru dari buku bacaan. Taman baca juga
digunakan untuk kegiatan belajar-mengajar setiap hari minggu yang dilakukan relawan kepada anak-
anak di desa. Sejak 10 Februari 2013 dinyatakan sebagai hari lahir ISBANBAN Foundation dengan
didirikannya taman baca pertama ISBANBAN di Kp. Sukamaju, Desa Citasuk, Kecamatan Padarincang
– Kabupaten Serang, Banten. Sampai saat ini ISBANBAN Foundation telah memiliki 14 taman baca
yang tersebar di 7 kabupaten/kota se- Banten dan lebih dari 2000 koleksi buku di 14 taman baca
yang kami dirikan.
</p>

<p>
Mendirikan sebuah taman baca diperlukan sebuah gerakan donasi buku yang kami namakan
‘’Gerakan Berbagi Buku’’, sebuah program penggalangan donasi buku dalam rangka meningkatkan
budaya minat baca anak anak desa dan mendorong wawasan anak yang lebih luas.
</p>
