<p>
TEACH berfokus pada pengajaran setiap hari minggu yang dilakukan oleh relawan muda usia 18 -
25 tahun kepada anak anak di desa binaan ISBANBAN Foundation. Program ini dinamakan Minggu
Belajar. 3 Konten utama minggu belajar mengarah kepada :
    <ol>
        <li>
            Wawasan dan Pendampingan Pencapaian Mimpi Anak
        </li>
        <li>
            Kreatifitas dan Pengembangan Potensi Diri Anak
        </li>
        <li>
            Peningkatan Kemampuan Akademik Anak
        </li>
    </ol>
</p>

<p>
    Program Minggu Belajar telah dilaksanakan sejak ISBANBAN Foundation berdiri pada tahun 2013.
    Selama 5 tahun program berjalan, telah turut serta 642 relawan muda yang pernah turun ke desa
    untuk mengajar 455 anak –anak di 14 titik desa binaan ISBANBAN Foundation. Program Minggu
    belajar dirancang untuk mencapai terciptanya akses terhadap informasi, keterampilan dan wawasan
    anak anak di pelosok desa Banten.
</p>
