{% put scripts %}
<script src="{{ [
    '../../bower_components/sticky-kit/jquery.sticky-kit.min.js',
    ]|theme }}"></script>
<script>
$(document).ready(function(){
    if ($(window).width() > 768) {
        doStick();
    }
});

function doStick() {
    $("#sectionNav").stick_in_parent({
        parent     : '.parent_sticky',
        offset_top : 100
    })
    .on('sticky_kit:bottom', function(e) {
        $(this).parent().css('position', 'static');
    })
    .on('sticky_kit:unbottom', function(e) {
        // $(this).parent().css('position', 'relative');
    });
}
</script>
{% endput %}
