title = "5th Istana Belajar Anak Banten"
url = "/5th-isbanban"
is_hidden = 0
==
function onStart() {
    $insta_source   = file_get_contents('https://www.instagram.com/explore/tags/5emangatberbagi/'); // instagrame tag url
    $shards         = explode('window._sharedData = ', $insta_source);
    $insta_json     = explode(';</script>', $shards[1]);
    $insta_array    = json_decode($insta_json[0], TRUE);
    $results_array  = $insta_array;

    $limit       = 30; // provide the limit thats important because one page only give some images.
    $image_array = array(); // array to store images.

    for ($i=0; $i < $limit; $i++) {
        //previous code to get images from json
        //$latest_array = $results_array['entry_data']['TagPage'][0]['tag']['media']['nodes'][$i];
        //new code to get images from json

        if(isset($results_array['entry_data']['TagPage'][0]['graphql']['hashtag']['edge_hashtag_to_media']['edges'][$i]['node'])) {
            $post = $results_array['entry_data']['TagPage'][0]['graphql']['hashtag']['edge_hashtag_to_media']['edges'][$i]['node'];
            $latest_array = $post;
            array_push($image_array, $post);
        }
    }

    $this['posts']   = $image_array;
}
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="6000">
        {% set _meta_title = this.page.title ? this.page.title ~ ' - ' ~ this.theme.site_name : this.theme.site_name ~ ' - ' ~ this.theme.site_description %}
        {% set _meta_description = this.page.description ?: this.theme.site_description %}
        {% set _meta_image = this.page.image ? this.page.image|app : this.theme.site_image ? this.theme.site_image.getThumb(1200, 630, 'crop')|app : 'meta-image.png'|media|app %}

        <!-- Place this data between the <head> tags of your website -->
        <title>{{ _meta_title }}</title>
        <meta name="description" content="{{ str_limit(_meta_description, 160) }}">

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="{{ _meta_title }}">
        <meta itemprop="description" content="{{ str_limit(_meta_description, 300) }}">
        <meta itemprop="image" content="{{ _meta_image }}">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@twitter">
        <meta name="twitter:title" content="{{ _meta_title }}">
        <meta name="twitter:description" content="{{ str_limit(_meta_description, 300) }}">

        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="{{ _meta_image }}">

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ _meta_title }}">
        <meta property="og:url" content="{{ ''|page }}">
        <meta property="og:image" content="{{ _meta_image }}">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:description" content="{{ str_limit(_meta_description, 300) }}">
        <meta property="og:site_name" content="{{ this.theme.site_name }}">

        <!-- Facebook Data -->
        <meta property="fb:app_id" content="">
        <meta property="fb:page_id" content="">

        <link rel="canonical" href="{{ ''|page }}">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333">
        <meta name="apple-mobile-web-app-title" content="{{ this.theme.site_name }}">
        <meta name="application-name" content="{{ this.theme.site_name }}">
        <meta name="msapplication-TileColor" content="#333">
        <meta name="theme-color" content="#333">

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,100,300,700,400italic' rel='stylesheet' type='text/css'>

        <!-- App Styles -->
        <link href="{{ [
            '~/bower_components/bootstrap/less/bootstrap.less',
        ]|theme }}" rel="stylesheet">

        <style>
        body {
            font-family: 'Nunito';
        }

        header, footer {
            position: fixed;
            left: 0px;
        }

        header {
            top: 0px;
            width: 100%;
            text-align: center;
        }

        header h1 {
            margin: 0px;
            margin-top: 10px;
        }

        footer {
            bottom: 0px; left: auto;
            font-size: 21px;
            padding: 20px 0px;
        }

        footer b {
            color: #00aced;
        }
        </style>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="padding-top: 0px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <header>
                        <h1>5th ISTANA BELAJAR ANAK BANTEN</h1>
                    </header>

                    <div style="display: flex; align-items: center; height: 100vh">
                        <div id="carousel-id" class="carousel slide" data-ride="carousel" style="width: 100%">
                            <ol class="carousel-indicators">
                                {% for key, post in posts %}
                                <li data-target="#carousel-id" data-slide-to="{{ key }}" class="{{ key == 0 ? 'active' : '' }}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for key, post in posts %}
                                <div class="item {{ key == 0 ? 'active' : '' }}">
                                    <img src="{{ post['thumbnail_src'] }}" style="margin: 0px auto" class="img-responsive">

                                    <div class="container">
                                        <div class="carousel-caption">
                                            <p style="background: #000">
                                                {{ post['edge_media_to_caption']['edges']['0']['node']['text'] }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left fa fa-arrow-left"></span></a>
                            <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right fa fa-arrow-right"></span></a>
                        </div>
                    </div>

                    <footer>
                    Gunakan tagar <b>#5emangatBerbagi</b> pada postingan akun instagram kamu untuk berpartisipasi dalam gambar.
                    </footer>
                </div>
            </div>
        </div>

        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            '~/bower_components/bootstrap/js/transition.js',
            '~/bower_components/bootstrap/js/alert.js',
            '~/bower_components/bootstrap/js/button.js',
            '~/bower_components/bootstrap/js/carousel.js',
            '~/bower_components/bootstrap/js/collapse.js',
            '~/bower_components/bootstrap/js/dropdown.js',
            '~/bower_components/bootstrap/js/modal.js',
            '~/bower_components/bootstrap/js/tooltip.js',
            '~/bower_components/bootstrap/js/popover.js',
            '~/bower_components/bootstrap/js/tab.js',

            '~/bower_components/fastclick/lib/fastclick.js',
            '~/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js',
            '~/bower_components/zoom.js/dist/zoom.min.js',

            'assets/js/app.js']|theme }}"></script>

        {% scripts %}

        {% partial 'tracker' %}

        {% partial 'flash' %}
    </body>
</html>
