title = "Home"
url = "/"
layout = "default"
is_hidden = 0

==
use Isbanban\Partner\Models\Partner;
use Isbanban\Feedback\Models\Feedback;
use Isbanban\Blog\Models\Blog;

function onStart() {
    $this['feedbacks'] = Feedback::orderBy('created_at', 'desc')->get();
    $this['blogs']     = Blog::orderBy('created_at', 'desc')->whereIsPublished(1)->take(6)->get();
    $this['partners']  = Partner::orderBy('created_at', 'asc')->get();
}

==
{% partial 'block-banner-primary' title='Istana Belajar Anak Banten' excerpt='We Are Youth-Led Non Profit Social Foundation Focus on Helping Underprivilleged Children in Rural Area of Banten to Attain Access an Excellence of Education' background='assets/images/bg-secondary-2k18.jpg'|theme %}
<div class="container">
    <div class="row-flex">
        <div class="col-sm-8 block block-introduce" style="background-image: url({{ 'assets/images/bg-children-pattern.png'|theme }}); background-size: cover">
            <div class="introduce-body">
                <h2 class="mg-0 mg-b-10">Listen to the children invest in their <span class="text-primary">dreams.</span></h2>

                <p class="text-excerpt">
                    The preservation of human life is the ultimate value, a pillar of ethics and the foundation of all morality. This held true in most cultures and societies throughout history. On first impression, the last sentence sounds patently wrong. We all know about human collectives that regarded human lives as dispensable, that murdered and tortured, that cleansed and annihilated whole populations in recurrent genocides. Surely, these defy the aforementioned statement?
                </p>
            </div>
        </div>

        <div class="col-sm-4 pd-0">
            <div class="block block-important-points points-donation">
                <div class="h4 mg-0 mg-b-10 important-title">
                    IKUT BERDONASI
                </div>

                <p>
                    Donasi kamu bisa membantu membantu program kami untuk membangun taman belajar dan membaca.
                </p>

                <i class="fa fa-money fa-2x"></i>
                <a href="#" class="btn btn-white">DONASI</a>
            </div>
            <div class="block block-important-points points-volunteer">
                <div class="h4 mg-0 mg-b-10 important-title">
                    MENJADI BAGIAN PERUBAHAN
                </div>

                <p>
                    Kamu dapat ikut berpartisipasi bersama kami menjadi relawan.
                </p>

                <i class="fa fa-group fa-2x"></i>
                <a href="{{ 'recruitment'|page }}" class="btn btn-white">BERGABUNG</a>
            </div>
            <div class="block block-important-points points-gift">
                <div class="h4 mg-0 mg-b-10 important-title">
                    MEMBERIKAN HADIAH
                </div>

                <p>
                    Kami terbuka lebar atas semua apresiasi atau hadiah yang kamu berikan untuk pendidikan yang lebih baik.
                </p>

                <i class="fa fa-gift fa-2x"></i>
                <a href="#" class="btn btn-black">HUBUNGI</a>
            </div>
        </div>
    </div>
</div>

<div class="block block-banner-testimoni" style="background-image: url({{ 'assets/images/bg-primary-2k18.png'|theme }})">
    <div class="container">
        <div class="row row-flex flex-center">
            <div class="col-sm-6 col-md-8 col-md-push-4 col-sm-push-6">
                <div class="block block-testimoni-head">
                    <div class="h1 mg-0">
                        KOMENTAR MEREKA <br>
                        <span class="text-primary">TENTANG ISBANBAN</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-md-pull-8 col-sm-pull-6">
                 <div class="swiper-container swiper-testimonial">
                    <div class="swiper-wrapper">
                        {% for feedback in feedbacks %}
                        <div class="post post-testimoni swiper-slide">
                            <i class="fa fa-quote-right"></i>

                            <div class="testimoni-body">
                                <p class="text-excerpt">
                                    {{ feedback.content }}
                                </p>
                            </div>

                            <div class="testimoni-footer">
                                <div class="testimoni-name">
                                    {{ feedback.name }}
                                </div>
                                <div class="testimoni-role text-muted">
                                    {{ feedback.role }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mg-t-40">
    <div class="page-header mg-t-0">
        <h2>BERITA</h2>
    </div>

    <div class="row row-flex">
        {% for key, blog in blogs %}
            {% set key = key + 1 %}
            <div class="col-sm-6">
                {% partial 'blog/posts' blog=blog %}
            </div>

            {% if key%2 == 0 %}
            </div><div class="row row-flex">
            {% endif %}
        {% endfor %}
    </div>

    <div class="swiper-container swiper-partners mg-t-40">
        <div class="swiper-wrapper">
            {% for partner in partners %}
            <div class="post post-partners swiper-slide">
                <a href="{{ partner.link }}" target="_blank">
                    <img src="{{ partner.image.getThumb('150', '150', 'crop') }}" alt="" class="img-responsive">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6 mg-b-20">
            <img src="{{ 'assets/images/vam-banner.png'|theme }}" alt="" class="img-responsive img-full">
        </div>
        <div class="col-md-6 mg-b-20">
            <img src="{{ 'assets/images/berbagibuku-banner.png'|theme }}" alt="" class="img-responsive img-full">
        </div>
        <div class="col-md-6 mg-b-20">
            <img src="{{ 'assets/images/idream-banner.png'|theme }}" alt="" class="img-responsive img-full">
        </div>
        <div class="col-md-6 mg-b-20">
            <img src="{{ 'assets/images/backer-banner.png'|theme }}" alt="" class="img-responsive img-full">
        </div>
    </div>
</div>

{% put scripts %}
<link rel="stylesheet" href="{{ '../../bower_components/swiper/dist/css/swiper.min.css'|theme }}">
<script src="{{ '../../bower_components/swiper/dist/js/swiper.jquery.min.js'|theme }}"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();

    var swiper = new Swiper('.swiper-testimonial', {
        slidesPerView: 1,
        autoplay: 2000
    });

    var swiper = new Swiper('.swiper-partners', {
        slidesPerView: 8,
        autoplay: 7000,
        spaceBetween: 10,
        calculateHeight:true,
        breakpoints: {
            992: {
              slidesPerView: 6,
            },

            768: {
              slidesPerView: 4,
            },

            480: {
              slidesPerView: 2,
            },
        }
    });
});
</script>
{% endput %}
