title = "Statistik Spesial Rekrutmen Kakak Pengajar Angkatan V"
url = "/statistic"
layout = "blank"
is_hidden = 0

[Recruitment]
==
function onStart() {
  $this->page->bodyClass = 'isb-recruitment';
  $this->page->description = 'We Are Youth Led-Organization That Focus On Helping Education Of Children In Rural Areas.';
  $this->page->image = 'https://isbanban.org/recruitment/storage/app/media/2f07e1c3-3f7a-4563-9ee4-c39c4f2a6217.jpg';
}
==
{% set chapters = Recruitment.getAllChapters %}
<div class="isb-recruitment-head">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ 'recruitment'|page }}">
                    <img src="{{ 'assets/images/typetext-white.png'|theme }}" alt="istana belajar anak banten" class="img-responsive logo">
                </a>
                <div class="mg-b-20">
                    <p class="text-center lead mg-t-20">
                        We Are Youth Led-Organization That Focus On Helping Education Of Children In Rural Areas.
                    </p>
                    {# <p class="text-center recruitment-info">
                        Informasi Lanjut: <a href="tel:089670466081">(+62)896-7046-6081</a> Kak Enung Khoeriyah
                    </p> #}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                {% for chapter in chapters %}
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body panel-body-recruitment-statistic text-center">
                            <a href="#"
                                data-request="Recruitment::onViewByChapter"
                                data-request-data="'chapter': '{{ chapter.code }}'"
                                data-request-success="$('#modalPreviewRecruitment').modal('show');"
                                data-request-update="'table-recruitment': '[data-target-recruitment-volunteers]'"
                            >
                            </a>
                            <img src="{{ url()~'/themes/isbanban/assets/images/chapter/'~chapter.code~'.png' }}" alt="" class="img-responsive">
                            <h2 class="mg-0 mg-t-10 mg-b-10">{{ Recruitment.countByChapter(chapter.code) }}</h2>
                            <p class="text-muted">RELAWAN MENDAFTAR</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-body panel-body-recruitment-statistic text-center">
                            <img src="{{ url()~'/themes/isbanban/assets/images/chapter/ALL.png' }}" alt="" class="img-responsive">
                            <h2 class="mg-0 mg-t-10 mg-b-10">{{ Recruitment.countByChapter('all') }}</h2>
                            <p class="text-muted">KESELURUHAN RELAWAN MENDAFTAR</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <a href="{{ 'recruitment'|page }}" class="btn btn-block btn-outline-white">
                KEMBALI KE FORMULIR
            </a>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPreviewRecruitment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">DAFTAR RELAWAN</h4>
            </div>
            <div class="modal-body" data-target-recruitment-volunteers></div>
        </div>
    </div>
</div>
