title = "Hasil Administrasi Calon Kakak Pengajar Angkatan V"
url = "/recruitment/result"
layout = "blank"
is_hidden = 0

[Recruitment]
==
function onStart() {
  $this->page->bodyClass   = 'isb-recruitment';
  $this->page->description = 'We Are Youth Led-Organization That Focus On Helping Education Of Children In Rural Areas.';
  $this->page->image       = 'https://isbanban.org/recruitment/storage/app/media/2f07e1c3-3f7a-4563-9ee4-c39c4f2a6217.jpg';
}
==
<div class="isb-recruitment-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <a href="{{ 'recruitment'|page }}">
                    <img src="{{ 'assets/images/typetext-white.png'|theme }}" alt="istana belajar anak banten" class="img-responsive logo">
                </a>
                <div class="mg-b-20">
                    <p class="text-center lead mg-t-20">
                        We Are Youth Led-Organization That Focus On Helping Education Of Children In Rural Areas.
                    </p>
                    {# <p class="text-center recruitment-info">
                        Informasi Lanjut: <a href="tel:089670466081">(+62)896-7046-6081</a> Kak Enung Khoeriyah
                    </p> #}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel">
                <div class="panel-body">
                    <h4 class="text-success text-center">
                        DAFTAR CALON KAKAK RELAWAN PENGAJAR DINYATAKAN LULUS SELEKSI ADMINISTRASI
                    </h4>
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i> Untuk tahap seleksi berikutnya akan di informasikan melalui sms yang dikirimkan ke nomor telefon terdaftar.
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Chapter</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for recruitment in Recruitment.getResult('CLG') %}
                            <tr>
                                <td>{{ recruitment.name }}</td>
                                <td>{{ recruitment.region.name|capitalize }}</td>
                            </tr>
                            {% endfor %}
                            {% for recruitment in Recruitment.getResult('KBS') %}
                            <tr>
                                <td>{{ recruitment.name }}</td>
                                <td>{{ recruitment.region.name|capitalize }}</td>
                            </tr>
                            {% endfor %}
                            {% for recruitment in Recruitment.getResult('KBT') %}
                            <tr>
                                <td>{{ recruitment.name }}</td>
                                <td>{{ recruitment.region.name|capitalize }}</td>
                            </tr>
                            {% endfor %}
                            {% for recruitment in Recruitment.getResult('KTS') %}
                            <tr>
                                <td>{{ recruitment.name }}</td>
                                <td>{{ recruitment.region.name|capitalize }}</td>
                            </tr>
                            {% endfor %}
                            {% for recruitment in Recruitment.getResult('KTG') %}
                            <tr>
                                <td>{{ recruitment.name }}</td>
                                <td>{{ recruitment.region.name|capitalize }}</td>
                            </tr>
                            {% endfor %}
                            {% for recruitment in Recruitment.getResult('LBK') %}
                            <tr>
                                <td>{{ recruitment.name }}</td>
                                <td>{{ recruitment.region.name|capitalize }}</td>
                            </tr>
                            {% endfor %}
                            {% for recruitment in Recruitment.getResult('PDG') %}
                            <tr>
                                <td>{{ recruitment.name }}</td>
                                <td>{{ recruitment.region.name|capitalize }}</td>
                            </tr>
                            {% endfor %}
                            {% for recruitment in Recruitment.getResult('TGS') %}
                            <tr>
                                <td>{{ recruitment.name }}</td>
                                <td>{{ recruitment.region.name|capitalize }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="text-center">
                        <a href="{{ 'home'|page }}" class="btn btn-primary">
                            <i class="fa fa-arrow-left"></i> KEMBALI KE DEPAN
                        </a>

                        <a href="https://drive.google.com/file/d/1BGPQ1QpLKrVl-GKcYaYhzUcMQW8DZGL7/view?usp=sharing" class="btn btn-danger" target="_blank">
                            UNDUH JADWAL WAWANCARA
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
