title = "Spesial Rekrutmen Kakak Pengajar Angkatan V"
url = "/recruitment/view/:parameter"
layout = "blank"
is_hidden = 0

[RecruitmentDetail]
parameter="{{ :parameter }}"
==
function onStart() {
  $this->page->bodyClass   = 'isb-recruitment';
  $this->page->description = 'We Are Youth Led-Organization That Focus On Helping Education Of Children In Rural Areas.';
  $this->page->image       = 'https://isbanban.org/recruitment/storage/app/media/2f07e1c3-3f7a-4563-9ee4-c39c4f2a6217.jpg';
}
==
{% set rundown = 'https://drive.google.com/file/d/1BGPQ1QpLKrVl-GKcYaYhzUcMQW8DZGL7/view?usp=sharing' %}
{% if recruitment.chapter == 'TGS' or recruitment.chapter == 'KTG' %}
    {% set latitude  = '-6.3079924' %}
    {% set longitude = '106.7536103' %}
    {% set pic       = '08784047983' %}
{% elseif recruitment.chapter == 'KBT' %}
    {% set latitude  = '-6.26550980' %}
    {% set longitude = '106.54885530' %}
    {% set pic       = '082299004440' %}
{% elseif recruitment.chapter == 'PDG' %}
    {% set latitude  = '-6.3097296' %}
    {% set longitude = '106.1043522' %}
    {% set pic       = '089698449848' %}
{% elseif recruitment.chapter == 'KBS' %}
    {% set latitude  = '-6.1245667' %}
    {% set longitude = '106.1721003' %}
    {% set pic       = '089652078444' %}
{% elseif recruitment.chapter == 'KTS' %}
    {% set latitude  = '-6.1245667' %}
    {% set longitude = '106.1721003' %}
    {% set pic       = '089628108098' %}
{% elseif recruitment.chapter == 'CLG' %}
    {% set latitude  = '-6.1245667' %}
    {% set longitude = '106.1721003' %}
    {% set pic       = '089601267851' %}
{% elseif recruitment.chapter == 'LBK' %}
    {% set latitude  = '-6.3435507' %}
    {% set longitude = '106.2450115' %}
    {% set pic       = '08974380481' %}
{% else %}

{% endif %}


<div class="isb-recruitment-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <a href="{{ 'recruitment'|page }}">
                    <img src="{{ 'assets/images/typetext-white.png'|theme }}" alt="istana belajar anak banten" class="img-responsive logo">
                </a>
                <div class="mg-b-20">
                    <p class="text-center lead mg-t-20">
                        We Are Youth Led-Organization That Focus On Helping Education Of Children In Rural Areas.
                    </p>
                    {# <p class="text-center recruitment-info">
                        Informasi Lanjut: <a href="tel:089670466081">(+62)896-7046-6081</a> Kak Enung Khoeriyah
                    </p> #}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel">
                <div class="panel-body text-center">
                    {% if recruitment.status == 1 %}
                        <h1>KAMU LULUS KE TAHAP WAWANCARA</h1>
                        <p class="lead text-muted">{{ recruitment.name }}, selamat kamu lulus ke tahap seleksi wawancara. Berikut adalah jadwal wawancara kamu dengan team Istana Belajar Anak Banten</p>
                        <div id="map" class="mg-b-10" style="height: 400px;"></div>

                        <div class="row">
                            <div class="col-xs-12 mg-b-20">
                                <div class="alert alert-info text-left">
                                    <i class="fa fa-info-circle"></i>
                                    Untuk semua calon kakak pengajar yang lolos kami mohon untuk kerjasamanya agar dapat hadir dilokasi 15 MENIT sebelum jadwal wawancara dimulai.
                                </div>
                                <a href="{{ rundown }}" class="btn btn-block btn-danger" target="_blank">
                                    UNDUH JADWAL WAWANCARA
                                </a>
                            </div>

                            <div class="col-xs-6">
                                <a href="https://www.google.com/maps?saddr=Current+Location&daddr={{ latitude }},{{ longitude }}&driving" class="btn btn-block btn-primary">
                                    MENUJU LOKASI
                                </a>
                            </div>

                            <div class="col-xs-6">
                                <a href="tel:{{ pic }}" class="btn btn-primary btn-block">
                                    HUBUNGI KAKAK RELAWAN
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <h1>KAMU BELUM LULUS KE TAHAP BERIKUTNYA</h1>
                        <div class="alert alert-info text-left">
                            <i class="fa fa-info-circle"></i> Kamu masih berkesempatan untuk mendaftar sebagai kakak relawan angkatan VI nanti :)
                        </div>
                        <p class="lead text-muted">
                            {{ recruitment.name }}, mohon maaf kamu belum lulus ke tahap berikutnya. Kami ucapkan terimakasih atas waktu serta
                            partisipasinya untuk mendaftarkan diri sebagai calon kakak relawan Istana Belajar Anak Banten Angkatan V.
                        </p>
                        <a href="{{ 'home'|page }}" class="btn btn-primary">
                            <i class="fa fa-arrow-left"></i> KEMBALI KE DEPAN
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJgV2HnjR7mqWBA5wp1ev6K2ItJ1g-PT8"></script>
<script type="text/javascript">
function initialize() {
    var center = new google.maps.LatLng('{{ latitude }}', '{{ longitude }}');
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: center,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_BOTTOM
        },
        mapTypeControl: false,
        streetViewControl: false,
        scaleControl: false,
        scrollwheel: false,
        styles: [{"featureType":"all","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"all","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"all","elementType":"labels.text","stylers":[{"visibility":"simplified"}]}]
    });

    var marker = new google.maps.Marker({
        position: center,
        map: map,
        icon: '{{ 'assets/images/marker-default.png'|theme }}'
      });


    marker.setAnimation(google.maps.Animation.BOUNCE);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endput %}
