title = "Spesial Rekrutmen Kakak Pengajar Angkatan V"
url = "/recruitment"
layout = "blank"
is_hidden = 1

[Recruitment]
==
function onStart() {
  $this->page->bodyClass = 'isb-recruitment';
  $this->page->description = 'We Are Youth Led-Organization That Focus On Helping Education Of Children In Rural Areas.';
  $this->page->image = 'https://isbanban.org/recruitment/storage/app/media/2f07e1c3-3f7a-4563-9ee4-c39c4f2a6217.jpg';
}
==
<div class="isb-recruitment-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <a href="{{ 'recruitment'|page }}">
                    <img src="{{ 'assets/images/typetext-white.png'|theme }}" alt="istana belajar anak banten" class="img-responsive logo">
                </a>
                <div class="mg-b-20">
                    <p class="text-center lead mg-t-20">
                        We Are Youth Led-Organization That Focus On Helping Education Of Children In Rural Areas.
                    </p>
                    {# <p class="text-center recruitment-info">
                        Informasi Lanjut: <a href="tel:089670466081">(+62)896-7046-6081</a> Kak Enung Khoeriyah
                    </p> #}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel">
                <div class="panel-body">
                    <form data-request="Recruitment::onRegister" data-request-flash>

                        <hr>

                        <div class="form-group">
                            <label class="is-required">Chapter Pilihan</label>
                            <select name="chapter" class="form-control">
                                <option value="">-- Pilih Chapter --</option>
                                <option value="KTS">Kabupaten Serang</option>
                                <option value="KBS">Kota Serang</option>
                                <option value="LBK">Lebak</option>
                                <option value="PDG">Pandeglang</option>
                                <option value="CLG">Cilegon</option>
                                <option value="TGS">Tangerang Selatan</option>
                                <option value="KBT">Kabupaten Tangerang</option>
                                <option value="KTG">Kota Tangerang</option>
                            </select>
                        </div>
                        <hr>
                        <div class="page-header mg-t-0">
                            <div class="h4">INFORMASI PRIBADI</div>
                        </div>
                        <div class="form-group">
                            <label class="is-required">Nama</label>
                            <input name="name" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="is-required">Tempat Lahir</label>
                            <input name="born_place" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="is-required">Tanggal Lahir</label> <span class="text-muted">(yyyy-mm-dd)</span>
                            <input name="dob" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="is-required">Asal Sekolah / Pekerjaan</label>
                            <input name="job" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="is-required">Agama</label>
                            <input name="religion" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="is-required">Alamat Tinggal Lengkap</label>
                            <textarea name="address" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="is-required">No.Hp / Whatsapp</label>
                            <input name="phone" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="is-required">Alamat Email</label>
                            <input name="email" type="email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Instagram ID</label>
                            <input name="instagram" type="text" class="form-control">
                        </div>

                        <div class="page-header">
                            <div class="h4">INFORMASI UMUM</div>
                        </div>

                        <div class="form-group">
                            <label>Organisasi yang sedang kamu ikuti</label>
                            <textarea name="general_organitation" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Dari mana tahu ISBANBAN? <em class="text-muted small">(Sertakan kontaknya)</em></label>
                            <textarea name="general_isbanban_information" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="is-required">Apa yang kamu pikirkan saat mendengar kata <b>Relawan</b>?</label>
                            <textarea name="general_volunteer_value" class="form-control"></textarea>
                        </div>

                        <div class="page-header">
                            <div class="h4">Esai</div>
                        </div>

                        <div class="form-group">
                            <label class="is-required">Ceritakan tentang dirimu secara singkat, seperti kesibukanmu dan latar belakangmu.</label>
                            <textarea name="essay_self_description" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="is-required">Deskripsikan kelebihanmu</label>
                            <textarea name="essay_self_strength" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="is-required">Deskripsikan kekuranganmu</label>
                            <textarea name="essay_self_weakness" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="is-required">Seberapa sibuk kamu sampai satu tahun kedepan? Bagaimana kamu membagi waktu antar kesibukan? </label>
                            <textarea name="essay_self_business" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="is-required">Pendidikan merupakan pilar bagi perkembangan suatu bangsa, seberapa tahu kamu akan pendidikan di daerahmu sekarang? Deskripsikan bagaimana pendidikan di daerahmu? </label>
                            <textarea name="essay_education_perform" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="is-required">Apa harapanmu tentang pendidikan dimasa yang akan datang?</label>
                            <textarea name="essay_education_dream" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="is-required">Ceritakan sebuah pengalaman menarik yang pernah kamu alami tentang anak kecil? </label>
                            <textarea name="essay_self_experience" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="is-required">Pada saat pengajaran akan terdapat berbagai macam karakter anak yg akan kamu hadapi sebagai relawan pengajar, ceritakan bagaimana caramu untk menghadapi berbagai karakter anak? </label>
                            <textarea name="essay_education_children" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="is-required">Apa tanggapanmu tentang survei yg menunjukkan bahwa kemampuan literasi di indonesia masih sangatlah rendah, kira kira bagaimana solusi untuk meningkatkan hal tersebut?</label>
                            <textarea name="essay_education_survey" class="form-control"></textarea>
                        </div>

                        <hr>

                        <button class="btn btn-primary btn-block" type="submit" data-attach-loading>DAFTAR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
