title = "Terimakasih Relawan Isbanban"
url = "/thank-you"
layout = "blank"
is_hidden = 0

[Volunteerism2017]
==
function onStart() {
    $this->page->bodyClass ='isb-thankyoupage';
    $this->page->description = 'Terimakasih dan rasa syukur kami untuk kakak &amp; teteh relawan Istana Belajar Anak Banten atas partisipasi, waktu serta aksi nyata untuk pendidikan yang lebih baik bagi anak-anak pelosok desa banten';
}
==

<div class="isb-thankyoupage">
    <div class="infinite-container">
        {% for volunteer in volunteers %}
        <div class="col-xs-2 pd-0 infinite-post">
            <img src="{{ volunteer.avatar.getThumb('150', '150', 'crop') }}" alt="" class="img-responsive" style="width: 100%">
        </div>
        {% endfor %}

        <div class="text-center">
            <div class="infinite-pagination">
                <a href="{{ volunteers.nextPageUrl() }}">LOAD MORE</a>
            </div>
        </div>
    </div>

    <div class="thankyoupage-outter text-center">
        <div class="outter-text">
            <div class="outter-logo">
                <a href="{{ 'home'|page }}">
                    <img src="{{ 'assets/images/typetext-black.png'|theme }}" alt="" class="img-responsive">
                </a>
            </div>

            <h2>DAY TODAY ISBANBAN</h2>
            <p class="lead">
                Terimakasih, doa serta rasa syukur kami untuk kakak &amp; teteh relawan <b>Istana Belajar Anak Banten</b> atas
                partisipasi, waktu serta aksi nyata untuk pendidikan yang lebih baik
                bagi anak-anak pelosok desa Banten.
            </p>

            <hr>
            BERITAHU TEMAN ATAS AKSI NYATA KAMU:
            {% partial 'shareholic-horizontal' %}
        </div>
    </div>
</div>


{% put scripts %}
<script src="{{ [
    '../../bower_components/jquery-ias/src/jquery-ias.js',
    '../../bower_components/jquery-ias/src/extension/spinner.js',
    '../../bower_components/jquery-ias/src/callbacks.js',
]|theme }}"></script>
<script>
var ias = jQuery.ias({
  container:  '.infinite-container',
  item:       '.infinite-post',
  pagination: '.infinite-pagination',
  next:       '.infinite-pagination a'
});
// Add a loader image which is displayed during loading
ias.extension(new IASSpinnerExtension());
</script>
{% endput %}
