//
// Helpers
//

/* Removal */

.no-border-radius {
    border-radius: 0 !important;
}

/* Atomic Margin */

.mg-0 { margin: 0; }
.mg-t-0 { margin-top: 0; }
.mg-r-0 { margin-right: 0; }
.mg-b-0 { margin-bottom: 0; }
.mg-l-0 { margin-left: 0; }

.mg-10 { margin: 10px; }
.mg-t-10 { margin-top: 10px; }
.mg-r-10 { margin-right: 10px; }
.mg-b-10 { margin-bottom: 10px; }
.mg-l-10 { margin-left: 10px; }

.mg-20 { margin: 20px; }
.mg-t-20 { margin-top: 20px; }
.mg-r-20 { margin-right: 20px; }
.mg-b-20 { margin-bottom: 20px; }
.mg-l-20 { margin-left: 20px; }

.mg-30 { margin: 30px; }
.mg-t-30 { margin-top: 30px; }
.mg-r-30 { margin-right: 30px; }
.mg-b-30 { margin-bottom: 30px; }
.mg-l-30 { margin-left: 30px; }

.mg-40 { margin: 40px; }
.mg-t-40 { margin-top: 40px; }
.mg-r-40 { margin-right: 40px; }
.mg-b-40 { margin-bottom: 40px; }
.mg-l-40 { margin-left: 40px; }

/* Atomic Padding */

.pd-0 { padding: 0; }
.pd-t-0 { padding-top: 0; }
.pd-r-0 { padding-right: 0; }
.pd-b-0 { padding-bottom: 0; }
.pd-l-0 { padding-left: 0; }

.pd-10 { padding: 10px; }
.pd-t-10 { padding-top: 10px; }
.pd-r-10 { padding-right: 10px; }
.pd-b-10 { padding-bottom: 10px; }
.pd-l-10 { padding-left: 10px; }

.pd-20 { padding: 20px; }
.pd-t-20 { padding-top: 20px; }
.pd-r-20 { padding-right: 20px; }
.pd-b-20 { padding-bottom: 20px; }
.pd-l-20 { padding-left: 20px; }

.pd-30 { padding: 30px; }
.pd-t-30 { padding-top: 30px; }
.pd-r-30 { padding-right: 30px; }
.pd-b-30 { padding-bottom: 30px; }
.pd-l-30 { padding-left: 30px; }

.pd-40 { padding: 40px; }
.pd-t-40 { padding-top: 40px; }
.pd-r-40 { padding-right: 40px; }
.pd-b-40 { padding-bottom: 40px; }
.pd-l-40 { padding-left: 40px; }


/* No Gutter */
.row.no-gutter > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}


/* Flexbox */

// .row-flex {
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     flex: 1 1 auto;
// }

// @media(min-width: @screen-sm) {
//     .row-flex-sm, .row-flex > div[class*='col-sm-'] { .row-flex() }
// }

// @media(min-width: @screen-md) {
//     .row-flex-md, .row-flex > div[class*='col-md-'] { .row-flex() }
// }

// @media(min-width: @screen-lg) {
//     .row-flex-lg, .row-flex > div[class*='col-lg-'] { .row-flex() }
// }

// .row-flex-wrap {
// 	-webkit-flex-flow: row wrap;
//     align-content: flex-start;
//     flex:0;
// }

// .container-flex > div[class*='col-'] > div,
// .row-flex > div[class*='col-'] > div {
// 	width:100%;
// }

// .flex-col {
//     display: flex;
//     display: -webkit-flex;
//     flex: 1 100%;
// 	flex-flow: column nowrap;
// }

// .flex-grow {
// 	display: flex;
//     -webkit-flex: 2;
//     flex: 2;
// }

/* Typography */
.text-content {
    font-size: 18px;
    line-height: 2;

    p {
        margin-bottom: 30px;
    }

    img {
        max-width: 100%;
    }
}


.text-content-relax {
    font-size: 18px;
}

.text-white {
    color: #fff;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
