// Vendor
@import '../../../../bower_components/bracket/css/dataTables.bootstrap.css';
@import '../../../../bower_components/bracket/css/animate.min.css';
@import '../../../../bower_components/font-awesome/less/font-awesome.less';
@import '../../../../bower_components/select2-bootstrap-theme/src/select2-bootstrap.less';

// Bootstrap
@import '../../../../bower_components/bootstrap/less/mixins.less';
@import '../../../../bower_components/bootstrap/less/variables.less';
@import '../../../../bower_components/bracket/less/style.inverse.less';

// Helpers
@import 'helpers.less';

.stickyheader .sticky-leftpanel .leftpanelinner {
    margin-top: 75px;
}

.select2-container--bootstrap .select2-selection--single {
    height: 40px;
    padding: 10px 24px 6px 12px;
}

.sidebartitle {
    // color: @brand-primary;
    color: #666;
}

.pageheader {
    h2 {
        color: @brand-primary;
    }

    .fa {
        border-color: @brand-primary;
    }
}

.breadcrumb {
    a {
        color: @brand-primary;
    }
}

.btn-primary {
  .button-variant(#fff; @brand-primary; @brand-primary);
}

.nav-hover {
    a {
        color: @brand-primary
    }
}

.nav-bracket {
    .active {
        a {
            color: @brand-primary !important;
        }

        &:hover,
        &:focus {
            a {
                color: @brand-primary !important;
            }
        }
    }
}

.nav-parent {
    &.active {
        > a {
            background-color: #fff !important;
            color: @brand-primary;
        }
    }

    &.nav-active {
        &.active {
            > a {
                background-color: #fff !important;
                color: @brand-primary !important;
            }

            &:hover,
            &:focus {
                > a {
                    background-color: #fff !important;
                    color: @brand-primary;
                }
            }
        }

        a {
            color: #000 !important;
        }
    }

    &:hover,
    &:focus {
        a {
            color: #000 !important;
        }
    }
}

.nav-bracket .children > li.active > a {
    color: @brand-primary !important;
}

.dataTables_wrapper {
    > .row {
        .mg-b-20();
    }

    .dataTables_filter,
    .dataTables_paginate {
        text-align: right
    }
}

.btn-outline-primary {
    .button-variant(@brand-primary; transparent; @brand-primary);

    &:hover,
    &:focus {
        .button-variant(@brand-primary; transparent; @brand-primary);
    }
}

.location-map {
    position: relative;

    .location-marker {
         img {
            position: absolute;
            z-index: 3;
            top: 50%;
            margin-top: -35px;
            left: 50%;
            margin-left: -22.6px
         }
    }
}

#location-search {
    top: 0px;
    bottom: auto;
    height: 40px;
    .pd-10();
}

.alert-location {
    margin-bottom: 0;
    margin-top: -50px;
    z-index: 3;
    position: relative;
}

.dataTables_filter {
    display: none !important;
}

.datatable tfoot {
    display: table-header-group;
}
