@brand-secondary:		#FE8100;

@import "_all";

body {
	padding-top: 90px;
	font-weight: 400;

	&.blank {
		// .gradient-horizontal(@brand-primary, fade(@brand-primary, 80%));
		// .gradient-horizontal(fade(@brand-secondary, 25%), fade(@brand-primary, 25%));
		background: @brand-primary;
		.pd-t-0();
		.mg-t-40();
		.mg-b-40();
	}

	&.is-dropdown {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 0px; top: 0px;
			width: 100%; height: 100%;
			background: fade(#000, 55%);
			z-index: 100;
		}
	}
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	.font-heading();
	font-weight: 700;
}

ul,ol,li {
	.font-body();
}

.font-body {
	font-family: 'Raleway', sans-serif;
}

.font-heading {
	font-family: 'Nunito', sans-serif;
}

.text-excerpt {
	font-size: 16px;
	line-height: 1.5;
}

.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text-content {
	font-size: 18px;
	line-height: 1.5;

	ul,ol,p {
		.mg-b-10();
	}

	img {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	table {
		.table();
		max-width: 100%;
	}
}

.gradient-horizontal(@color1, @color2) {
	background: -webkit-linear-gradient(left top, @color1, @color2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, @color1, @color2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, @color1, @color2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, @color1, @color2); /* Standard syntax */
}

.gradient-vertical(@color1, @color2) {
	background: -webkit-linear-gradient(left, @color1 , @color2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, @color1, @color2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, @color1, @color2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, @color1 , @color2); /* Standard syntax */
}

.container-flex {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.container-banner {
	h1 {

		@media(min-width: @screen-tablet) {
			font-size: 48px;
		}
	}

	p {

		@media(min-width: @screen-tablet) {
			font-size: 21px;
		}
	}
}

.container-flux {
	background: #fff;
	position: relative;
	z-index: 2;
	.pd-20();

	@media(min-width: @screen-tablet) {
		.pd-30();
	}

	&.flux-bottom {
		bottom: -40px;
		padding-bottom: 40px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom: 3px solid #ddd;
	}

	&.flux-top {
		top: -40px;
		padding-top: 40px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-top: 3px solid #ddd;
	}
}

.row-flex {
    display: block;

    @media (min-width: @screen-tablet) {
        display: flex;
    }

    &.flex-xs {
        display: flex;

        @media(min-width: @screen-tablet) {
            display: flex;
        }

        @media(min-width: @screen-desktop) {
            display: flex;
        }
    }

    &.flex-sm {
        display: block;

        @media (min-width: @screen-desktop) {
            display: flex;
        }
    }

    &.flex-center {
        align-items: center;
        justify-content: center;
    }
}

#map {
	height: 400px;
}

.igrowl-notice  {
	border-radius: 0px !important;
	border: none !important;
	.text-center();
	.pd-t-10();
	.pd-b-10();
}

.progress {
	height: 30px;
}

.progress-program {
	position: relative;

	.program-hi {
		position: absolute;
		top: 5px;
	}
}

.meta-raised,
.meta-goals {
	.text-ellipsis();
}

.meta-raised {
	.text-right();
}

.ias-trigger-next {
	clear: both;
    position: relative;
    top: 20px;
    .mg-b-40();
}

.contraflow {
	overflow: auto;
	white-space: nowrap;
}

.tabs-program {
	.contraflow();
    .mg-t-40();

    @media(min-width: @screen-tablet) {
        .mg-t-0();
    }

	li {
		float: none;
		display: inline-block;
		width: 50%;
		overflow: auto;

		@media(min-width: @screen-tablet) {
			display: table-cell;
			width: 1%;
			float: none !important;
		}
	}
}

.vertical-middle {
	vertical-align: middle;
}

.table-middle {
	tr {
		td {
			.vertical-middle() !important;
		}
	}
}

.list-village-info {
	a {
		color: #fff;
		display: block;
	}

	&:hover,
	&:focus {
		a {
			color: #fff;
			text-decoration: none;
		}
	}
}

.isb-recruitment {
    .pd-t-0();
    .mg-t-20();
    .mg-b-20();
    background: @brand-primary;
}

.isb-recruitment-head {
    color: #fff;

    .logo {
        margin: 0px auto;
        width: 190px;
    }

    .recruitment-info {
        a {
            color: #fff;

            &:hover,
            &:focus {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.panel-body-recruitment-statistic {
    position: relative;
    box-shadow: 0 0 100px 0 fade(#333, 35%);

    img {
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        filter: grayscale(100%);
    }

    h2 {
        position: absolute;
        font-size: 48px;
        left: 0px; top: 50%;
        margin-top: -26px;
        width: 100%;
        color: @brand-primary;
    }

    a {
        position: absolute;
        width: 100%; height: 100%;
        top: 0; left: 0;
        z-index: 2;
    }
}

body.isb-thankyoupage {
    padding: 0px;
}

.thankyoupage-outter {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    width: 320px; height: 100%;
    left: 50%; margin-left: -160px;
    background: fade(#fff, 75%);
    .text-center();
    .pd-20();

    @media(min-width: @screen-tablet) {
        width: 650px;
        margin-left: -325px;
    }

    @media(min-width: @screen-desktop) {
        width: 800px;
        margin-left: -400px;
    }

    .outter-logo {
        img {
            width: 250px;
            margin: 0px auto;
        }
    }
}
