<div class="post post-blog">
    {# <a href="#">
        <div class="blog-thumbnail" style="background-image: url({{ village.cover.getThumb('1200', '600', 'crop' )}}); background-repeat: no-repeat; background-size: cover; background-position: center center;"></div>
    </a> #}

    <a href="{{ 'village/detail'|page({parameter: village.slug}) }}">
        <img src="{{ village.cover.getThumb('1200', '600', 'crop' )}}" alt="" class="img-responsive">
    </a>

    <div class="village-title h3 mg-0">
        <a href="{{ 'village/detail'|page({parameter: village.slug}) }}">
            {{ village.name }}
        </a>
    </div>

    <div class="village-meta">
        <div class="meta-date small text-muted">{{ village.created_at.format('d F Y H:i') }}</div>
    </div>

    {# <div class="village-excerpt text-excerpt">
        {{ village.content|raw }}
    </div> #}
</div>
