<form data-request="AdminRecruitment::onExport" data-request-flash>
    <div class="form-group">
        <label class="is-required">Chapter</label>
        <select name="chapter" class="form-control">
            <option value="all">Semua Chapter</option>
            {% for region in regions %}
            <option value="{{ region.code }}">{{ region.name|capitalize }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label class="is-required">Status</label>
        <select name="status" class="form-control">
            <option value="all">Semua Status</option>
            <option value="1">Approved</option>
            <option value="2">Rejected</option>
        </select>
    </div>

    <div class="form-group">
        <label class="is-required">Kolom</label>
        <table class="table table-striped">
            <tr>
                <th style="vertical-align:middle">No</th>
                <th style="vertical-align:middle" class="text-right">
                    <div class="checkbox">
                        <input name="column['no']" type="checkbox" value="no">
                    </div>
                </th>
            </tr>

            <tr>
                <th style="vertical-align:middle">Nama</th>
                <th style="vertical-align:middle" class="text-right">
                    <div class="checkbox">
                        <input name="column['name']" type="checkbox" value="name">
                    </div>
                </th>
            </tr>

            <tr>
                <th style="vertical-align:middle">Telefon</th>
                <th style="vertical-align:middle" class="text-right">
                    <div class="checkbox">
                        <input name="column['phone']" type="checkbox" value="phone">
                    </div>
                </th>
            </tr>

            <tr>
                <th style="vertical-align:middle">Email</th>
                <th style="vertical-align:middle" class="text-right">
                    <div class="checkbox">
                        <input name="column['email']" type="checkbox" value="email">
                    </div>
                </th>
            </tr>

            <tr>
                <th style="vertical-align:middle">Chapter</th>
                <th style="vertical-align:middle" class="text-right">
                    <div class="checkbox">
                        <input name="column['chapter']" type="checkbox" value="chapter">
                    </div>
                </th>
            </tr>

            <tr>
                <th style="vertical-align:middle">Asal Sekolah / Pekerjaan</th>
                <th style="vertical-align:middle" class="text-right">
                    <div class="checkbox">
                        <input name="column['job']" type="checkbox" value="job">
                    </div>
                </th>
            </tr>

            <tr>
                <th style="vertical-align:middle">Status</th>
                <th style="vertical-align:middle" class="text-right">
                    <div class="checkbox">
                        <input name="column['status']" type="checkbox" value="status">
                    </div>
                </th>
            </tr>

            <tr>
                <th style="vertical-align:middle">Tanggal Daftar</th>
                <th style="vertical-align:middle" class="text-right">
                    <div class="checkbox">
                        <input name="column['created_at']" type="checkbox" value="created_at">
                    </div>
                </th>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="is-required">Urutan</label>
                <select name="sort_type" class="form-control">
                    <option value="name">Nama</option>
                    <option value="created_at">Tanggal Daftar</option>
                </select>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                <label class="is-required">&nbsp;</label>
                <select name="sort_value" class="form-control">
                    <option value="desc">Tinggi ke Rendah</option>
                    <option value="asc">Rendah ke Tinggi</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit" data-attach-loading>EXPORT</button>
    </div>
</form>
