<div class="page-header mg-t-0">
    <div class="h4">General Information</div>
</div>
<table class="table table-striped">
    <tr>
        <td>Nama</td>
        <td>{{ recruitment.name }}</td>
    </tr>
    <tr>
        <td>Chapter</td>
        <td>{{ recruitment.region.name|capitalize }}</td>
    </tr>
    <tr>
        <td>Tanggal Mendaftar</td>
        <td>{{ recruitment.created_at|date('d F Y H:i') }}</td>
    </tr>
    <tr>
        <td>Tempat Lahir</td>
        <td>{{ recruitment.born_place }}</td>
    </tr>
    <tr>
        <td>Tanggal Lahir</td>
        <td>{{ recruitment.dob|date('l, d F Y') }}</td>
    </tr>
    <tr>
        <td>Asal Sekolah / Pekerjaan</td>
        <td>{{ recruitment.job }}</td>
    </tr>
    <tr>
        <td>Agama</td>
        <td>{{ recruitment.religion }}</td>
    </tr>
    <tr>
        <td>No. Telefon</td>
        <td><a href="tel:{{ recruitment.phone }}">{{ recruitment.phone }}</a></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><a href="mailto:{{ recruitment.email }}">{{ recruitment.email }}</a></td>
    </tr>
    <tr>
        <td>Instagram</td>
        <td>{{ recruitment.instagram }}</td>
    </tr>
</table>


<div class="page-header">
    <div class="h4">Essay</div>
</div>
<p>
    <b>Q: Organisasi yang sedang kamu ikuti: </b><br>
    A: {{ info.general_organitation }}
</p>
<hr>
<p>
    <b>Q: Dari mana tahu ISBANBAN? (Sertakan kontaknya): </b><br>
    A: {{ info.general_isbanban_information }}
</p>
<hr>
<p>
    <b>Q: Apa yang kamu pikirkan saat mendengar kata Relawan?: </b><br>
    A: {{ info.general_volunteer_value }}
</p>
<hr>
<p>
    <b>Q: Ceritakan tentang dirimu secara singkat, seperti kesibukanmu dan latar belakangmu: </b><br>
    A: {{ info.essay_self_description }}
</p>
<hr>
<p>
    <b>Q: Deskripsikan kelebihanmu: </b><br>
    A: {{ info.essay_self_strength }}
</p>
<hr>
<p>
    <b>Q: Deskripsikan kekuranganmu: </b><br>
    A: {{ info.essay_self_weakness }}
</p>
<hr>
<p>
    <b>Q: Seberapa sibuk kamu sampai satu tahun kedepan? Bagaimana kamu membagi waktu antar kesibukan? : </b><br>
    A: {{ info.essay_self_business }}
</p>
<hr>
<p>
    <b>Q: Pendidikan merupakan pilar bagi perkembangan suatu bangsa, seberapa tahu kamu akan pendidikan di daerahmu sekarang? Deskripsikan bagaimana pendidikan di daerahmu? : </b><br>
    A: {{ info.essay_education_perform }}
</p>
<hr>
<p>
    <b>Q: Apa harapanmu tentang pendidikan dimasa yang akan datang?: </b><br>
    A: {{ info.essay_education_dream }}
</p>
<hr>
<p>
    <b>Q: Ceritakan sebuah pengalaman menarik yang pernah kamu alami tentang anak kecil? : </b><br>
    A: {{ info.essay_self_experience }}
</p>
<hr>
<p>
    <b>Q: Pada saat pengajaran akan terdapat berbagai macam karakter anak yg akan kamu hadapi sebagai relawan pengajar, ceritakan bagaimana caramu untk menghadapi berbagai karakter anak? : </b><br>
    A: {{ info.essay_education_children }}
</p>
<hr>
<p>
    <b>Q: Apa tanggapanmu tentang survei yg menunjukkan bahwa kemampuan literasi di indonesia masih sangatlah rendah, kira kira bagaimana solusi untuk meningkatkan hal tersebut?: </b><br>
    A: {{ info.essay_education_survey }}
</p>
