<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Gambar
                </div>
            </div>

            <div class="panel-body">
                {% component 'imageUploader' %}
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Informasi
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label>Nama</label>
                    <input class="form-control" type="text" name="name" value="{{ feedback.name }}">
                </div>

                <div class="form-group">
                    <label>Roles</label>
                    <input class="form-control" type="text" name="role" value="{{ feedback.role }}">
                </div>

                <div class="form-group">
                    <label>Quotes</label>
                    <textarea class="form-control" name="content">{{ feedback.content }}</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
    </div>
</div>
