url = "/program/view/:parameter"
layout = "default"
is_hidden = 0

[BaseProgramDetail]
parameter="{{ :parameter }}"
==
use Isbanban\Core\Models\Program;

function onStart() {
    $program                 = Program::whereSlug($this->param('parameter'))->first();
    $this->page->title       = ucwords($program->title);
    $this->page->description = str_limit(strip_tags($program->content), 255, '...');
}
==
{% partial 'block-banner-batik' title=program.name background='assets/images/pattern-batik.jpg'|theme %}
<div class="container mg-t-40 mg-b-40">
    {{ program.content|raw }}
    <hr>
    <div class="text-center">
        {% partial 'shareholic-horizontal' %}
    </div>
</div>
