title = "Hubungi Kami"
url = "/contact"
layout = "default"
is_hidden = 0

==
{% partial 'block-banner-batik' title=this.page.title background='assets/images/pattern-batik.jpg'|theme %}
<div class="container mg-t-40 mg-b-40">
    <div class="form-group">
        <label class="is-required">Nama</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label class="is-required">No Telefon</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label class="is-required">Email</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label class="is-required">Perihal</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label class="is-required">Deskripsi</label>
        <textarea name="" cols="10" class="form-control"></textarea>
    </div>

    <hr>
    <button class="btn btn-primary btn-block" type="submit">SUBMIT</button>
</div>
