<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Cover</div>
        </div>
    </div>

    <div class="panel-body">
        {% component 'coverUploader' %}
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Icon</div>
        </div>
    </div>

    <div class="panel-body">
        {% component 'iconUploader' %}
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">General Information</div>
        </div>
    </div>

    <div class="panel-body pd-0">
        <textarea id="editor1" class="form-control" name="content">{{ department.content|raw }}</textarea>
    </div>
</div>

<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
