<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Cover</div>
        </div>
    </div>

    <div class="panel-body">
        {% component 'imageUploader' %}
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">General Information</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" type="text" name="title" value="{{ book.title }}">
                </div>
            </div>

             <div class="col-sm-12">
                <div class="form-group">
                    <label>Year</label>
                    <input class="form-control" type="text" name="year" value="{{ book.year }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Author</label>
                    <input class="form-control" type="text" name="author" value="{{ book.author }}">
                </div>
            </div>

             <div class="col-sm-12">
                <div class="form-group">
                    <label>Publisher</label>
                    <input class="form-control" type="text" name="publisher" value="{{ book.publisher }}">
                </div>
            </div>

            <div class="col-sm-12">
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
            </div>
        </div>
    </div>
</div>
