<form data-request="AdminBbCommerce::onConfirm" data-request-confirm="Apakah sudah yakin?" data-request-flash>
    <input type="hidden" name="parameter" value="{{ order.parameter }}">

    <div class="form-group">
        <label>Rekening Penerima</label>
        <select name="agent_id" class="form-control">
            <option value="">-- Pilih --</option>
            {% for agent in agents %}
            <option value="{{ agent.id }}">{{ agent.name }}</option>
            {% endfor %}
        </select>
    </div>

    <hr>
    <button class="btn btn-primary btn-block" type="submit" data-attach-loading>KONFIRMASI</button>
</form>
