description = "Admin layout"

[IsAdmin]
==
function onStart() {
    $this->page->isHideChat = true;
}
==
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard | {{ this.page.title }}</title>

    <link href="{{ [
        '@framework.extras',
        '../../bower_components/bracket/css/style.default.css',
        '../../bower_components/select2/dist/css/select2.min.css',
        '../../bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css',
        'assets/less/admin.less'
    ]|theme }}" rel="stylesheet">

    {% styles %}

    <style>
    .form-group {
        margin-bottom: 20px !important;
    }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body class="stickyheader">
        <section>

            {% partial 'header-backend' %}

            <div class="mainpanel" style="min-height: 1300px; height: auto !important">
                <div class="headerbar">
                    <a class="menutoggle"><i class="fa fa-bars"></i></a>

                    {#
                    <div class="header-right">
                        <ul class="headermenu">
                            <li>
                                <div class="btn-group">
                                    <a href="{{ 'home'|page }}" target="_blank" class="btn btn-default tp-icon">
                                        <i class="fa fa-crosshairs fa-fw"></i> Preview
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-default tp-icon"
                                        data-request="IsAdmin::onLogout"
                                        data-attach-loading>
                                        <i class="fa fa-power-off fa-fw"></i> Keluar
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    #}
                </div>

                {% partial 'pageheader' icon=this.page.pageIcon pageTitle=this.page.pageTitle %}

                <div class="contentpanel">
                    <div class="row">
                        {% page %}
                    </div>
                </div>
            </div>
        </section>
    </body>

    <script src="{{ [
        '@jquery',
        '@framework',
        '@framework.extras',

        '~/bower_components/bootstrap/js/transition.js',
        '~/bower_components/bootstrap/js/alert.js',
        '~/bower_components/bootstrap/js/button.js',
        '~/bower_components/bootstrap/js/carousel.js',
        '~/bower_components/bootstrap/js/collapse.js',
        '~/bower_components/bootstrap/js/dropdown.js',
        '~/bower_components/bootstrap/js/modal.js',
        '~/bower_components/bootstrap/js/tooltip.js',
        '~/bower_components/bootstrap/js/popover.js',
        '~/bower_components/bootstrap/js/tab.js',

        '~/bower_components/fastclick/lib/fastclick.js',
        '~/bower_components/select2/dist/js/select2.min.js',
        'assets/js/backend.js']|theme }}"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="{{ '../../bower_components/bracket/js/dataTables.bootstrap.min.js'|theme }}"></script>

    {% scripts %}

    {% partial 'tracker' %}

    {% partial 'flash' %}

    <script>
    $(document).ready(function(){
        triggerSelect2();

        $('.mainpanel').css({'height':'auto !important'});

        // DataTables
        $('.datatable tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" class="form-control" style="width: 100%"/>' );
        });

        var table = $('.datatable').DataTable();

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                    .search( this.value )
                    .draw();
                }
            });
        });

        $('.datatable tfoot th:last-child input').css({'display': 'none'})
    });

    function triggerSelect2() {
        $("select.form-control").select2({
            theme: "bootstrap",
            width: '100%'
        });
    }
    </script>
</html>
