<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Cover</div>
        </div>
    </div>

    <div class="panel-body">
        {% component 'pictureUploader' %}
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="title">Informasi General</div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Nama</label>
                    <input class="form-control" type="text" name="name" value="{{ item.name }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Harga</label>
                    <input class="form-control" type="text" name="value" value="{{ item.value }}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Deskripsi</label>
                    <textarea name="description" cols="30" rows="10" class="form-control">{{ item.description }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
