{% if setDistrict %}
{% set districts = Location.getDistrict(setRegency) %}
{% endif %}
<div class="form-group">
    <label>District</label>
    <select name="district_id" class="form-control"
        data-request="Location::onGetVillage"
        data-request-update="'location/village': '[data-target-village]'"
        data-request-success="triggerSelect2();">
        <option value="">-- Pilih --</option>
        {% for district in districts %}
        <option value="{{ district.id }}" {{ district.id == setDistrict ? 'selected' : '' }}>{{ district.name }}</option>
        {% endfor %}
    </select>
</div>
