{% partial 'location/province' provinces=provinces setProvince=setProvince %}

<div data-target-regency>
    {% partial 'location/regency' regencies=regencies setProvince=setProvince setRegency=setRegency %}
</div>

<div data-target-district>
    {% partial 'location/district' districts=districts setRegency=setRegency setDistrict=setDistrict %}
</div>

<div data-target-village>
    {% partial 'location/village' villages=villages setDistrict=setDistrict setVillage=setVillage %}
</div>
