<div class="form-group">
    <label>Province</label>
    <select name="province_id" class="form-control"
        data-request="Location::onGetRegency"
        data-request-update="'location/regency': '[data-target-regency]'"
        data-request-success="triggerSelect2();">
        <option value="">-- Pilih --</option>
        {% for province in provinces %}
        <option value="{{ province.id }}" {{ province.id == setProvince ? 'selected' : '' }}>{{ province.name }}</option>
        {% endfor %}
    </select>
</div>
