{% if setRegency %}
{% set regencies = Location.getRegency(setProvince) %}
{% endif %}
<div class="form-group">
    <label>Regency</label>
    <select name="regency_id" class="form-control"
        data-request="Location::onGetDistrict"
        data-request-update="'location/district': '[data-target-district]'"
        data-request-success="triggerSelect2();">
        <option value="">-- Pilih --</option>
        {% for regency in regencies %}
        <option value="{{ regency.id }}" {{ regency.id == setRegency ? 'selected' : '' }}>{{ regency.name }}</option>
        {% endfor %}
    </select>
</div>
