{% if setVillage %}
{% set villages = Location.getVillage(setDistrict) %}
{% endif %}
<div class="form-group">
    <label>Village</label>
    <select name="village_id" class="form-control">
        <option value="">-- Pilih --</option>
        {% for village in villages %}
        <option value="{{ village.id }}" {{ village.id == setVillage ? 'selected' : '' }}>{{ village.name }}</option>
        {% endfor %}
    </select>
</div>
