<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            Gambar
        </div>
    </div>

    <div class="panel-body">
        {% component 'imageUploader' %}
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            Informasi
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Nama</label>
                    <input class="form-control" type="text" name="name" value="{{ partner.name }}">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Kategori</label>
                    <select class="form-control" name="category_id">
                        <option value="">-- Pilih Kategori --</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Url</label>
                    <input type="text" class="form-control" name="link" placeholder="http://" value="{{ partner.link }}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
</div>
